
		<!-- ##### 푸터 공백 지정 Start ##### -->
	    <div class="footer-add-area">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="footer-add">
	                        <!-- <a href="#"><img src="img/bg-img/footer-add.gif" alt=""></a> -->
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- ##### 푸터 공백 지정 End ##### -->
	    
		<footer class="footer-area">

        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget-area mt-80">
                            <!-- List -->
                            <ul class="list">
                                <li><a href="https://github.com/hunzzia/PremierLeagueDataAnalysis">github</a></li>
                                <li><a href="tel:+82 1023268497">+82 10 2326 8497</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <h4 class="widget-title">Featured</h4>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="https://github.com/HARIBONG">Lee jin hyuk</a></li>
                                <li><a href="https://github.com/junsh96">Jeon soo hwan</a></li>
                                <li><a href="https://github.com/insung960">Jang in seong</a></li>
                                <li><a href="https://github.com/mod9014">Lee jeong hoon</a></li>
                                <li><a href="https://github.com/ppwxx2014">Yoo ji hoon</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <h4 class="widget-title">FAQ</h4>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="#">das6521@naver.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <h4 class="widget-title">+More</h4>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="https://cafe.naver.com/itisgoodee">Goodee</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/userassts/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/userassts/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/userassts/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/userassts/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/userassts/js/active.js"></script>
    <script>
	var memberId = null; // 로그인 세션 저장
	$.ajax({
		url : "/getSessionInfo",
		method : "post",
		async:false,
		success : function(json) {
			console.log("sessionInfo Json: " + json);
			memberId = json;
			console.log("sessionInfo: " + memberId);
		}	
	});
	
	if(memberId == "") {
		$("#memberLogin").empty();
		$("#memberLogin").append("<a href='/memberLogin'>Login</a>");
		$("#memberLogin").append("<a href='/memberLogin'>Register</a>");
	} else{
		$("#memberLogin").empty();
		$("#memberLogin").append("<a href = '/memberLogout'>로그아웃</a>");
	}
	//alert(memberId);
</script>