
		<aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                
                    <li class="active">
                        <a href="index"><i class="menu-icon fa fa-laptop"></i>대시보드 가기</a>
                    </li>
                    <li class="menu-item-has">
                        <a href="adminBoardAllCategory">
                        	<i class="menu-icon fa fa-cogs"></i>게시판 관리
                        </a>
                        
					</li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	<i class="menu-icon fa fa-cogs"></i>Player
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                    
		                    <li>
		                    	<i class="menu-icon fa fa-cogs"></i> <a href="getPlayerList">선수 리스트</a>
		                    </li>
		                    
		                    <li>
		                    	<i class="menu-icon fa fa-cogs"></i> <a href="addPlayer">선수 추가</a>
		                    </li>
		                    
		                    <li>
		                    	<i class="menu-icon fa fa-cogs"></i> <a href="modifyPlayer">선수 수정</a>
		                    </li>
		                    
		                    <li>
		                    	<i class="menu-icon fa fa-cogs"></i> <a href="addPlayerContract"> 선수 계약</a>
		                    </li>
		                    
						</ul>
					</li>
					
					<li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	<i class="menu-icon fa fa-cogs"></i>Club
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                    		<li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="getTeamList">팀리스트</a>
		                    </li>
		                    <li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="addTeam">팀 추가</a>
		                    </li>
		                    
		                    <li>
		                    	<i class="menu-icon fa fa-cogs"></i> <a href="addTeamLeader">팀 주장 추가</a>
		                    </li>
		                    
		                    <li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="modifyTeam">팀 수정</a>
		                    </li>
		                    
		                    <li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="changeTeam"> 팀 변경</a>
		                    </li>
						</ul>	
					</li>
					
					<li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	<i class="menu-icon fa fa-cogs"></i>Refree
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                    		<li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="getRefreeList">심판 리스트</a>
		                    </li>
		                    <li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="addRefree">심판 추가</a>
		                    </li>
						</ul>	
					</li>
					
					<li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	<i class="menu-icon fa fa-cogs"></i>Coach
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                    		<li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="addCoach">감독 추가</a>
		                    </li>
		                    <li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="addCoachContract">감독 계약</a>
		                    </li>
						</ul>	
					</li>
					
					<li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	<i class="menu-icon fa fa-cogs"></i>Match
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                    		<li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="addMatch">  경기 일정 추가</a>
		                    </li>
		                    
		                    <li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="getMatchSchedule">  경기 일정 보기</a>
		                    </li>
		                    
		                    <li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="matchResult">  경기 결과</a>
		                    </li>
						</ul>	
					</li>
					
					<li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	<i class="menu-icon fa fa-cogs"></i>Live-Match
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                    		<li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="startingLineUp"> 선발라인업 추가</a>
		                    </li>
		                    
		                    <li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="addPlayerRecord"> 선수 기록 추가</a>
		                    </li>
						</ul>	
					</li>
					
					<li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	<i class="menu-icon fa fa-cogs"></i>User-management
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                        	<li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="addNotice"> 공지사항 추가</a>
		                    </li>
		                    
                    		<li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="MembershipManagement"> 회원관리</a>
		                    </li>
						</ul>	
					</li>
					
					<li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	<i class="menu-icon fa fa-cogs"></i>scheduler
                        </a>
                        <ul class="sub-menu children dropdown-menu">
                    		<li>
		                        <i class="menu-icon fa fa-cogs"></i> <a href="scheduler"> calendar</a>
		                    </li>
						</ul>	
					</li>
                </ul>
            </div><!-- /.navbar-collapse -->	
        </nav>
    </aside>
