<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
	<link rel ="stylesheet" type = "text/css" href = "/datepicker.css" >
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        
        <!-- Content -->
		<div class="content">
		<h1>addCoach</h1>
		<div>
			coachName
			<input type = "text" name="coachName" id = "coachName">
		</div>
		<div>
			birthDate
			<input type = "text" id= "birthDate" name = "birthDate">
		</div>
		<div>
			country
			<tr>
				<td>
					<div>
						<select id = "country">
							
						</select>
					</div>
				</td>
			</tr>
		</div>
		<button type = "submit" id = "add">add coach</button>
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
    $("#birthDate").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true, // 월을 바꿀수 있는 셀렉트 박스를 표시한다.
	
		changeYear: true, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다.
		minDate: '-100y', //현재 년부터 100년 전까지
		yearRange: 'c-100:c+10', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.
	
	});
		$.ajax({
			url:"/getCountry",
			method:"POST",
			success:function(json){
				$("#country").empty();
				$(json).each(function(index, item){
					temp = "<option value = '";
					temp += item.countryName;
					temp += "'>";
					temp += item.countryName;
					temp += "</option>";
					$("#country").append(temp);
				});
			}
		});	
	
	$("#add").click(function(){
		console.log("name:"+$("#coachName").val());
		console.log("birthDate:"+$("#birthDate").val());
		console.log("Country:"+$("#country").val());
		$.ajax({
			url:"/coach/addCoach",
			method:"POST",
			data:{"coachName": $("#coachName").val(),
				"birthDate": $("#birthDate").val(),
				"country": $("#country").val()
			},
			success:function(json){
				alert("add coach");
				location.href="/index"
			}
		});
	});
    </script>
</body>
</html>
