<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
	<link rel ="stylesheet" type = "text/css" href = "/datepicker.css" >
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        <!-- 경로 표시 -->
		<div class="breadcrumbs">
			<div class="breadcrumbs-inner">
				<div class="row m-0">
					<div class="col-sm-4">
						<div class="page-header float-left">
							<div class="page-title">
								<h1>
									<font style="vertical-align: inherit;"><font
										style="vertical-align: inherit;">감독 추가</font></font>
								</h1>
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li><a href="adminIndex"><font
											style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">홈</font></font></a></li>
									<li><a href="#"><font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">감독</font></font></a></li>
									<li class="active"><font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">감독 추가</font></font></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#경로 표시 -->
		<!-- Content -->
		<div class="content">
			<div class="card">
				<div class="card-header">
					<strong><font style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">감독 </font></font></strong><font
						style="vertical-align: inherit;"><font
						style="vertical-align: inherit;"> 입력 </font></font>
				</div>
				<div class="card-body card-block">

					<div class="row form-group">
						<div class="col col-md-3">
							<label for="text-input" class=" form-control-label"> <font
								style="vertical-align: inherit;"> <font
									style="vertical-align: inherit;">이름 : </font>
							</font>
							</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="text" id="coachName" name="text-input"
								placeholder="감독 이름" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="disabled-input" class=" form-control-label"><font
								style="vertical-align: inherit;"><font
									style="vertical-align: inherit;">생일 : </font></font></label>
						</div>
						<div class="col-12 col-md-9">
							<input type="date" id="birthDate" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="select" class=" form-control-label">국가 : </label>
						</div>
						<div class="col-12 col-md-9">
							<select name="select" id="country" class="form-control">
   								<option value="none">::: 감독 국가 선택 :::</option>
							</select>
						</div>
					</div>
						
					<button type="button" class="btn btn-lg btn-info btn-block" id="add"><font
							style="vertical-align: inherit;"><font
							style="vertical-align: inherit;"> 입력</font></font>
					</button>
				</div>
			</div>
			<!-- <h1 class="container" style='width:400px;'>AddCoach</h1>
			<div class="container" style='width:400px;'>
				CoachName
				<input type = "text" name="coachName" id = "coachName" class ="form-control">
			</div>
			<div class="container" style='width:400px;'>
				BirthDate
				<input type = "text" id= "birthDate" name = "birthDate" class ="form-control">
			</div>
			<div class="container" style='width:400px;'>
				Country
				<div>
					<select id = "country" class ="form-control form-control-sm">
									
					</select>
				</div>
			</div>
			<div>
				<br>
			</div>
			<div class="container" style='width:400px;'>
				<button type = "submit" id = "add" class="btn btn-success">Add Coach</button>
			</div> -->
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
    $("#birthDate").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true, // 월을 바꿀수 있는 셀렉트 박스를 표시한다.
	
		changeYear: true, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다.
		minDate: '-100y', //현재 년부터 100년 전까지
		yearRange: 'c-100:c+10', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.
	
	});
    	//나라 리스트 출력
		$.ajax({
			url:"/getCountry",
			method:"POST",
			success:function(json){
				/* $("#country").empty(); */
				$(json).each(function(index, item){
					temp = "<option value = '";
					temp += item.countryName;
					temp += "'>";
					temp += item.countryName;
					temp += "</option>";
					$("#country").append(temp);
				});
			}
		});	
	//입력한 정보를 db에 저장
	$("#add").click(function(){
		console.log("name:"+$("#coachName").val());
		console.log("birthDate:"+$("#birthDate").val());
		console.log("Country:"+$("#country").val());
		if($("#coachName").val()==""||$("#birthDate").val()==""||$("#country").val()=="none"){
			alert("정보를 모두 입력해주세요");
		}else{
		$.ajax({
			url:"/addCoach",
			method:"POST",
			data:{"coachName": $("#coachName").val(),
				"birthDate": $("#birthDate").val(),
				"country": $("#country").val()
			},
			success:function(json){
				alert("add coach");
				location.href="/adminIndex"
			}
		});
		}
	});
    </script>
</body>
</html>
