<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>

	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
	<link rel ="stylesheet" type = "text/css" href = "/datepicker.css" >
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        
        <!-- Content -->
		<div class="content">
			<h1 class="container" style='width:400px;'>AddCoachContract</h1>
			<div class="container" style='width:400px;'>
				CoachName
				<div>
					<select id = "coachNo" class ="form-control form-control-sm">
									
					</select>
				</div>

			</div>
			<div class="container" style='width:400px;'>
				TeamName
				<div>
					<select id ="teamName" class ="form-control form-control-sm">
							
					</select>
				</div>
			</div>
			<div class="container" style='width:400px;'>
				Salary
				<input type = "number" name = "salary" id ="salary" min="0" class ="form-control"><!-- 숫자만 입력가능하게 수정 -->
			</div>
			<div class="container" style='width:400px;'>
				ContractStart
				<input type = "text" name = "contractStart" id = "contractStart" class ="form-control">
			</div>
			<div class="container" style='width:400px;'>
				ContractEnd
				<input type = "text" name = "contractEnd" id = "contractEnd" class ="form-control">
			</div>
			<div class="container" style='width:400px;'>
				<button type = "submit" id = "add" class="btn btn-success">Add CoachContract</button>
			</div>
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
    $("#contractStart").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true, // 월을 바꿀수 있는 셀렉트 박스를 표시한다.
	
		changeYear: true, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다.
		minDate: '-100y', //현재 년부터 100년 전까지
		yearRange: 'c-100:c+10', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.
		 onClose: function( selectedDate ) {    
             // 시작일(contractStart) datepicker가 닫힐때
             // 종료일(contractEnd)의 선택할수있는 최소 날짜(minDate)를 선택한 시작일로 지정
             $("#contractEnd").datepicker( "option", "minDate", selectedDate );
         }       

	});
	$("#contractEnd").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true, // 월을 바꿀수 있는 셀렉트 박스를 표시한다.
	
		changeYear: true, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다.
		minDate: '-100y',
		yearRange: 'c-100:c+10', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.
		
		onClose: function( selectedDate ) {
            // 종료일(contractEnd) datepicker가 닫힐때
            // 시작일(contractStart)의 선택할수있는 최대 날짜(maxDate)를 선택한 종료일로 지정 
            $("#contractStart").datepicker( "option", "maxDate", selectedDate );
        }                
		
	});
	
		$.ajax({
			url:"/getCoachList",
			method:"POST",
			success:function(json){
				$("#coachNo").empty();
				$(json).each(function(index, item){
					temp = "<option value = '";
					temp += item.coachNo;
					temp += "'>";
					temp += item.coachName;
					temp += "</option>";
					$("#coachNo").append(temp);
				});
			}
		});
	
		$.ajax({
			url:"/getTeamList",
			method:"POST",
			success:function(json){
				$("#teamName").empty();
				$(json).each(function(index, item){
					temp = "<option value = '";
					temp += item.teamName;
					temp += "'>";
					temp += item.teamName;
					temp += "</option>";
					$("#teamName").append(temp);
				});
			}
		});
	$("#add").click(function(){
		console.log("coachNo:"+$("#coachNo").val());
		console.log("teamName:"+$("#teamName").val());
		console.log("salary:"+$("#salary").val());
		console.log("contractStart:"+$("#contractStart").val());
		console.log("contractEnd:"+$("#contractEnd").val());
		$.ajax({
			url:"/coach/addCoachContract",
			method:"POST",
			data:{"coachNo" : $("#coachNo").val(),
					"teamName" : $("#teamName").val(),
					"salary" : $("#salary").val(),
					"contractStart" : $("#contractStart").val(),
					"contractEnd" : $("#contractEnd").val()
			},
			success:function(json){
				alert("add contract");
				location.href="/index"
			}
		});
	});
    </script>
</body>
</html>