<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epl.mapper.CoachMapper">
	<insert id="insertCoach" parameterType="com.epl.vo.Coach">
		INSERT INTO coach(
		coach_name,
		birth_date,
		country
		)VALUES(
		#{coachName},
		#{birthDate},
		#{country}
		)
	</insert>
	<select id="selectCountry" resultType="com.epl.vo.Country">
		SELECT
		country_name as countryName
		FROM country
	</select>
	<select id="selectCoachList" resultType="com.epl.vo.Coach">
		SELECT
		coach_no as coachNo,
		coach_name as coachName,
		birth_date as birthDate,
		country as country
		FROM coach
	</select>

</mapper>