<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.epl.mapper.CoachContractMapper">
	<insert id="insertCoachContract"
		parameterType="com.epl.vo.CoachContract">
		INSERT INTO coach_contract(
		coach_no,
		team_name,
		salary,
		contract_start,
		contract_end
		)VALUES(
		#{coachNo},
		#{teamName},
		#{salary},
		#{contractStart},
		#{contractEnd}
		)
	</insert>
</mapper>