<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epl.mapper.MatchMapper">

	<select id="selectStadiumByTeamName" parameterType="String"
		resultType="String">
		SELECT
		stadium_name AS stadiumName
		FROM
		team
		WHERE
		team_name = #{teamName}
	</select>

	<insert id="insertMatch"
		parameterType="com.epl.vo.MatchSchedule">
		<selectKey resultType="int" keyProperty="matchNo"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO match_schedule(
		hometeam_name,
		awayteam_name,
		match_date,
		match_time,
		stadium_name
		)
		VALUES(
		#{hometeamName},
		#{awayteamName},
		#{matchDate},
		#{matchTime},
		#{stadiumName}
		)
	</insert>

	<insert id="insertMatchRefree"
		parameterType="com.epl.vo.MatchRefree">
		INSERT
		INTO
		match_refree( match_no,
		refree_no )

		VALUES
		(#{matchNo},
		#{refreeNo} )
	</insert>

	<select id="selectMatchList"
		resultType="com.epl.vo.MatchSchedule">
		SELECT
		match_no AS matchNo,
		hometeam_name AS hometeamName,
		awayteam_name AS awayteamName,
		match_date AS matchDate,
		active AS active
		FROM
		match_schedule
		WHERE active= 'T'
	</select>

	<select id="selectMatchOne"
		resultType="com.epl.vo.MatchSchedule" parameterType="int">
		SELECT
		match_no AS matchNo,
		hometeam_name AS hometeamName,
		awayteam_name AS awayteamName,
		match_date AS matchDate,
		match_time AS matchTime,
		stadium_name AS stadiumName
		FROM
		match_schedule
		WHERE
		match_no = #{matchNo}
	</select>

	<insert id = "insertMainPlayer"
			parameterType="com.epl.vo.MatchPlayerNo">
			INSERT INTO 
			match_player(match_no,player_no,shooting,shoot_on_target,
					pass,assist,foul,tackle,offside,goal_on_fk,
					goal_on_pk,yellow_card,red_card,start_time,end_time)
			VALUES(#{matchNo},#{playerNo},'0','0',
					'0','0','0','0','0','0',
					'0','0','0',#{matchTime},null)
	</insert>
	
	<insert id = "insertSubPlayer"
			parameterType="com.epl.vo.MatchPlayerNo">
			INSERT INTO 
			match_player(match_no,player_no,shooting,shoot_on_target,
					pass,assist,foul,tackle,offside,goal_on_fk,
					goal_on_pk,yellow_card,red_card,start_time,end_time)
			VALUES(#{matchNo},#{playerNo},'0','0',
					'0','0','0','0','0','0',
					'0','0','0',null,null)
	</insert>
	
	<insert id = "insertKeeper"
			parameterType="com.epl.vo.MatchPlayerNo">
			INSERT INTO match_goalkeeper(match_no,
				player_no,
				save,
				save_on_pk,
				save_on_fk,
				start_time,
				end_time)
				VALUES(#{matchNo},
				#{playerNo},
				'0',
				'0',
				'0',
				#{matchTime},
				null
				)
	</insert>
	
	<select id = "selectKeeperInMatch"
			parameterType="com.epl.vo.MatchCheckKeeper"
			resultType="com.epl.vo.MatchCheckKeeper">
			SELECT player_no AS playerNo,
				   match_no as matchNo
		 	FROM match_goalkeeper
			WHERE match_no = #{matchNo}
			AND player_no = #{playerNo}
	</select>
	
	<select id = "selectmatchPlayerOne"
			parameterType="com.epl.vo.MatchPlayer"
			resultType="com.epl.vo.MatchPlayer">
			SELECT
				match_no		AS matchNo,
				player_no		AS playerNo,
				shooting		AS shooting,
				shoot_on_target AS shootOnTarget,
				pass			AS pass,
				assist			AS assist,
				foul			AS foul,
				tackle			AS tackle,
				offside			AS offside,
				goal_on_fk		AS goalOnFk,
				goal_on_pk		AS goalOnPk,
				yellow_card		AS yellowCard,
				red_card		AS redCard,
				start_time		AS startTime,
				end_time		AS endTime
			FROM 
				match_player
			WHERE
				match_no = #{matchNo}
			AND
				player_no = #{playerNo}
	</select>
	
	<select id = "selectMatchGoalKeeperOne"
			parameterType="com.epl.vo.MatchGoalKeeper"
			resultType="com.epl.vo.MatchGoalKeeper">
			SELECT
				match_no		AS matchNo,
				player_no		AS playerNo,
				save			AS save,
				save_on_pk		AS saveOnPk,
				save_on_fk		AS saveOnFk,
				start_time		AS startTime,
				end_time		AS endTime
			FROM 
				match_goalkeeper
			WHERE
				match_no = #{matchNo}
			AND
				player_no = #{playerNo}
	</select>
	
	<update id = "updateMatchPlayer"
			parameterType="com.epl.vo.MatchPlayer">
			UPDATE match_player SET
				shooting		= #{shooting},
				shoot_on_target = #{shootOnTarget},
				pass			= #{pass},
				assist			= #{assist},
				foul			= #{foul},
				tackle			= #{tackle},
				offside			= #{offside},
				goal_on_fk		= #{goalOnFk},
				goal_on_pk		= #{goalOnPk},
				yellow_card		= #{yellowCard},
				red_card		= #{redCard},
				start_time		= #{startTime},
				end_time		= #{endTime},
				active 			= 'F'
			WHERE 
				player_no = #{playerNo}
			AND
				match_no = #{matchNo}
			AND
				active = 'T'
	</update>
	
	<update id = "updateMatchPlayerT"
			parameterType="com.epl.vo.MatchPlayer">
			UPDATE match_player SET
				shooting		= #{shooting},
				shoot_on_target = #{shootOnTarget},
				pass			= #{pass},
				assist			= #{assist},
				foul			= #{foul},
				tackle			= #{tackle},
				offside			= #{offside},
				goal_on_fk		= #{goalOnFk},
				goal_on_pk		= #{goalOnPk},
				yellow_card		= #{yellowCard},
				red_card		= #{redCard},
				start_time		= #{startTime},
				end_time		= null,
				active 			= 'T'
			WHERE 
				player_no = #{playerNo}
			AND
				match_no = #{matchNo}
			AND
				active = 'T'
	</update>
	
	<insert id = "insertMatchGoals"
			parameterType="com.epl.vo.MatchGoals">
			INSERT INTO match_goals(
				match_no,
				player_no,
				time)
			VALUES(
				#{matchNo},
				#{playerNo},
				NOW())
	</insert>
	
	<insert id = "insertMatchOwnGoals"
			parameterType="com.epl.vo.MatchOwnGoals">
			INSERT INTO match_own_goals(
				match_no,
				player_no,
				time)
			VALUES(
				#{matchNo},
				#{playerNo},
				NOW())
	</insert>
	
	<insert id = "insertMatchResult"
			parameterType="com.epl.vo.MatchResult">
			INSERT INTO match_result(
				match_no,
				hometeam_name,
				awayteam_name,
				hometeam_goals,
				awayteam_goals)
			VALUES(
				#{matchNo},
				#{hometeamName},
				#{awayteamName},
				'0',
				'0')
	</insert>
	
	<update id = "updateMatchResultByGoal"
			parameterType="com.epl.vo.MatchGoals">
		UPDATE match_result 
		SET hometeam_goals=
		   	case when (SELECT team_name FROM player_contract WHERE player_no = #{playerNo} AND contract_end >= CURDATE())=hometeam_name then hometeam_goals+1 
		ELSE hometeam_goals 
		END ,
			awayteam_goals=
		   	case when (SELECT team_name FROM player_contract WHERE player_no = #{playerNo} AND contract_end >= CURDATE())=awayteam_name then awayteam_goals+1 
		   	ELSE awayteam_goals 
		END 
		WHERE match_no = #{matchNo}
	</update>
	
	<update id = "updateMatchResultByOwnGoal"
			parameterType="com.epl.vo.MatchOwnGoals">
		UPDATE match_result 
		SET 
			hometeam_goals=
		  	case when (SELECT team_name FROM player_contract WHERE player_no = #{playerNo} AND contract_end >= CURDATE())=awayteam_name then hometeam_goals+1 
		ELSE hometeam_goals 
		END ,
		   	awayteam_goals=
		   	case when (SELECT team_name FROM player_contract WHERE player_no = #{playerNo} AND contract_end >= CURDATE())=hometeam_name then awayteam_goals+1 
		ELSE awayteam_goals 
		END 
		WHERE match_no = #{matchNo}
	</update>
	
	<update id = "updateMatchKeeper"
			parameterType="com.epl.vo.MatchGoalKeeper">
		UPDATE match_goalkeeper SET
			save		=	#{save},
			save_on_PK	=	#{saveOnPk},
			save_on_FK	=	#{saveOnFk},
			start_time	=	#{startTime},
			end_time	=	#{endTime},
			active		=	'F'	 
		WHERE 
			player_no 	= 	#{playerNo}
		AND
			match_no 	= 	#{matchNo}
		AND
			active 		=	'T'
	</update>
	
	<update id = "updateMatchKeeperT"
			parameterType="com.epl.vo.MatchGoalKeeper">
		UPDATE match_goalkeeper SET
			save		=	#{save},
			save_on_PK	=	#{saveOnPk},
			save_on_FK	=	#{saveOnFk},
			start_time	=	#{startTime},
			end_time	=	#{endTime},
			active		=	'T'	 
		WHERE 
			player_no 	= 	#{playerNo}
		AND
			match_no 	= 	#{matchNo}
		AND
			active 		=	'T'
	</update>
	
	<select	id = "selectMainAndKeeper"
			parameterType="com.epl.vo.MatchNoTeamName"
			resultType="com.epl.vo.InGamePosition">
		SELECT player_no AS playerNo, 
   (SELECT player_name 
   FROM player 
   WHERE player_no=match_player.player_no) 'playerName',
   (SELECT player_position 
   FROM player
   WHERE player_no=match_player.player_no) 'playerPosition',
   (SELECT uniform_back_number 
   FROM player_contract 
   WHERE player_no=match_player.player_no 
   AND contract_end >= CURDATE()) 'uniformBackNumber',
   case when start_time=
      (SELECT match_time 
      FROM match_schedule 
      WHERE match_no = #{matchNo}) then '선발' 
   END as inGamePosition
FROM match_player
WHERE player_no 
IN (
   SELECT player_no
   FROM player_contract
   WHERE contract_end >= CURDATE()
   AND team_name =  #{teamName})
AND match_no =  #{matchNo}
AND start_time=
      (SELECT match_time 
      FROM match_schedule 
      WHERE match_no = #{matchNo})
UNION
SELECT player_no AS player_no, 
   (SELECT player_name 
   FROM player 
   WHERE player_no=match_goalkeeper.player_no) AS 'playerName',
   (SELECT player_position 
   FROM player 
   WHERE player_no=match_goalkeeper.player_no) AS 'playerPosition',
   (SELECT uniform_back_number 
   FROM player_contract 
   WHERE player_no=match_goalkeeper.player_no 
   AND contract_end >= CURDATE()) 'uniformBackNumber',
   case when start_time=
      (SELECT match_time 
      FROM match_schedule 
      WHERE match_no = #{matchNo}) then '키퍼' 
   END as inGamePosition
FROM match_goalkeeper
WHERE player_no 
IN (
   SELECT player_no
   FROM player_contract
   WHERE contract_end >= CURDATE()
   AND team_name = #{teamName})
AND match_no =  #{matchNo}
	</select>
	
	<select id = "selectCommutablePlayer"
			parameterType="com.epl.vo.MatchNoTeamName"
			resultType="com.epl.vo.InGamePosition">
	SELECT player_no AS playerNo, 
	   (SELECT player_name 
	   FROM player 
	   WHERE player_no=match_player.player_no) 'playerName',
	   (SELECT player_position 
	   FROM player
	   WHERE player_no=match_player.player_no) 'playerPosition',
	   (SELECT uniform_back_number 
	   FROM player_contract 
	   WHERE player_no=match_player.player_no 
	   AND contract_end >= CURDATE()) 'uniformBackNumber'
	FROM match_player
	WHERE player_no 
	IN (
	   SELECT player_no
	   FROM player_contract
	   WHERE contract_end >= CURDATE()
	   AND team_name = #{teamName})
	AND match_no = #{matchNo}
	AND start_time is null
	</select>
	
	<select id="selectPlayerListByTeamName" parameterType="String"
		resultType="com.epl.vo.PlayerInfo">
		SELECT
		p.player_no AS playerNo,
		p.player_name AS playerName,
		p.player_position AS playerPosition,
		(SELECT uniform_back_number FROM player_contract WHERE player_no =
		p.player_no) uniformBackNumber,
		p.country
		FROM player p
		WHERE p.player_no
		IN (SELECT player_no
		FROM player_contract
		WHERE team_name = #{teamName})
	</select>
	
	<delete id = "deleteMatchPlayer"
			parameterType="int">
		DELETE
		FROM 
			match_player
		WHERE
			player_no = #{playerNo}
		AND 
			match_no = #{matchNo}
	</delete>
</mapper>