<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epl.mapper.MatchMapper">

	<select id="selectTeamList" resultType="com.epl.vo.Team">
		SELECT
		team_name AS teamName,
		nick_name AS nickName,
		foundation AS foundation,
		stadium_name AS stadiumName,
		home_place AS homePlace,
		rival AS rival,
		owner AS owner
		FROM
		team
		WHERE
		active = 'T'
	</select>

	<select id="selectRefreeList" resultType="com.epl.vo.Refree">
		SELECT
		refree_no AS refreeNo,
		refree_name AS refreeName,
		birth_date AS birthDate,
		country AS country
		FROM
		refree
	</select>

	<select id="selectStadiumByTeamName" parameterType="String"
		resultType="String">
		SELECT
		stadium_name AS stadiumName
		FROM
		team
		WHERE
		team_name = #{teamName}
	</select>

	<insert id="insertMatch"
		parameterType="com.epl.vo.MatchSchedule">
		<selectKey resultType="int" keyProperty="matchNo"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO match_schedule(
		hometeam_name,
		awayteam_name,
		match_date,
		match_time,
		stadium_name
		)
		VALUES(
		#{hometeamName},
		#{awayteamName},
		#{matchDate},
		#{matchTime},
		#{stadiumName}
		)
	</insert>

	<insert id="insertMatchRefree"
		parameterType="com.epl.vo.MatchRefree">
		INSERT
		INTO
		match_refree( match_no,
		refree_no )

		VALUES
		(#{matchNo},
		#{refreeNo} )
	</insert>

	<select id="selectMatchList"
		resultType="com.epl.vo.MatchSchedule">
		SELECT
		match_no AS matchNo,
		hometeam_name AS hometeamName,
		awayteam_name AS awayteamName,
		match_date AS matchDate
		FROM
		match_schedule
	</select>

	<select id="selectMatchOne"
		resultType="com.epl.vo.MatchSchedule" parameterType="int">
		SELECT
		match_no AS matchNo,
		hometeam_name AS hometeamName,
		awayteam_name AS awayteamName,
		match_date AS matchDate,
		match_time AS matchTime,
		stadium_name AS stadiumName
		FROM
		match_schedule
		WHERE
		match_no = #{matchNo}
	</select>

	<select id="selectPlayerListByTeamName" parameterType="String"
		resultType="com.epl.vo.PlayerInfo">
		SELECT
		p.player_no AS playerNo,
		p.player_name AS playerName,
		p.player_position AS playerPosition,
		(SELECT uniform_back_number FROM player_contract WHERE player_no =
		p.player_no) uniformBackNumber,
		p.country
		FROM player p
		WHERE p.player_no
		IN (SELECT player_no
		FROM player_contract
		WHERE team_name = #{teamName})
	</select>
	
	<insert id = "insertMainPlayer"
			parameterType="com.epl.vo.MatchPlayerNo">
			INSERT INTO 
			match_player(match_no,player_no,shooting,shoot_on_target,
					pass,assist,foul,tackle,offside,goal_on_fk,
					goal_on_pk,yellow_card,red_card,start_time,end_time)
			VALUES(#{matchNo},#{playerNo},'0','0',
					'0','0','0','0','0','0',
					'0','0','0','00:00:00',null)
	</insert>
	
	<insert id = "insertSubPlayer"
			parameterType="com.epl.vo.MatchPlayerNo">
			INSERT INTO 
			match_player(match_no,player_no,shooting,shoot_on_target,
					pass,assist,foul,tackle,offside,goal_on_fk,
					goal_on_pk,yellow_card,red_card,start_time,end_time)
			VALUES(#{matchNo},#{playerNo},'0','0',
					'0','0','0','0','0','0',
					'0','0','0',null,null)
	</insert>
	
	<insert id = "insertKeeper"
			parameterType="com.epl.vo.MatchPlayerNo">
			INSERT INTO match_goalkeeper(match_no,
				player_no,
				save,
				save_on_pk,
				save_on_fk,
				start_time,
				end_time)
				VALUES(#{matchNo},
				#{playerNo},
				'0',
				'0',
				'0',
				'00:00:00',
				null
				)
	</insert>
</mapper>