<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epl.mapper.MemberTeamMapper">
	
	<select id="selectMemberTeamList"
		resultType="com.epl.vo.Team">
		SELECT
		team_name as teamName,
		stadium_name as stadiumName
		FROM team
	</select>
	<select id="selectMemberTeamOne" 
	parameterType="String"
	resultType="com.epl.vo.Team">
		SELECT         
			team_name as teamName,
			nick_name as nickName,
			foundation as foundation,
			stadium_name as stadiumName,
			home_place as homePlace,
			rival as rival,
			owner as owner
		FROM team
		where team_name = #{teamName}
	</select>
	<select id="selectMemberPlayersList"
	parameterType="String"
	resultType="com.epl.vo.Player">
		SELECT 
			player_no as playerNo,
			player_name as playerName,
			country as country,
			birth_date as birthDate,
			height as height,
			weight as weight,
			player_position as playerPosition
		FROM player
			WHERE player_no
			IN 
			(SELECT player_no
			FROM player_contract
			WHERE contract_end >= CURDATE()
			AND team_name = #{players})
	</select>
	
</mapper>