<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epl.mapper.MemberBoardMapper">
	
	<select id = "selectNoticeList"
			resultType = "com.epl.vo.Notice">
		select
			notice_no as noticeNo,
			notice_title as noticeTitle,
			notice as notice,
			notice_category as noticeCategory,
			notice_date as noticeDate
		FROM
		notice
	</select>	

	<!-- 글 삭제 -->
	<delete id="deleteMemberBoard"
		parameterType="com.epl.vo.MemberBoard">
		DELETE FROM member_board
		WHERE board_no = #{boardNo}
		AND
		board_user = #{boardUser}
	</delete>

	<!-- 게시판 리스트(페이징) -->
	<select id="selectMemberBoardList"
		parameterType="com.epl.vo.PageByCategory" resultType="com.epl.vo.MemberBoard">
		SELECT
		mb.board_no as boardNo,
		mb.board_title as boardTitle,
		mb.board_user as boardUser,
		mb.board_date as boardDate,
		m.member_nick_name as memberNickName,
		mb.board_category as boardCategory
		FROM member_board mb
		INNER JOIN member m
		ON mb.board_user = m.member_email
		<where> <!-- where절 -->
			<choose>
				<when test = 'category=="general"'>
		      		board_category='자유 게시판'
		      		<if test="searchWord != null">
						and board_title like CONCAT('%', #{searchWord}, '%')
					</if>
				</when>
				<when test = 'category=="debate"'>
		      		board_category='토론 게시판'
		      		<if test="searchWord != null">
						and board_title like CONCAT('%', #{searchWord}, '%')
					</if>
				</when>
				<when test = 'category==null or category==""'>
					<if test="searchWord != null">
						and board_title like CONCAT('%', #{searchWord}, '%')
					</if>
				</when>
				<otherwise>
					board_category NOT IN ('자유 게시판','토론 게시판')
					<if test="searchWord != null">
						and board_title like CONCAT('%', #{searchWord}, '%')
					</if>
				</otherwise>
			</choose>
		</where>
		ORDER BY board_date
		DESC LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<!-- 게시판 글 상세정보 -->
	<select id="selectMemberBoardOne" parameterType="int"
		resultType="com.epl.vo.MemberBoard">
		SELECT
		mb.board_no as boardNo,
		mb.board_title as boardTitle,
		mb.board_content as boardContent,
		mb.board_category as boardCategory,
		mb.board_user as boardUser,
		mb.board_date as boardDate,
		m.member_nick_name as memberNickName
		FROM member_board mb
		INNER JOIN member m
		ON mb.board_user = m.member_email
		WHERE board_no = #{boardNo}
	</select>
	
	<select id = "selectNoticeOne"
			parameterType = "int"
			resultType = "com.epl.vo.Notice">
		select
			notice_no as noticeNo,
			notice_title as noticeTitle,
			notice as notice,
			notice_category as noticeCategory,
			notice_date as noticeDate
		FROM
		notice
		WHERE notice_no = #{noticeNo}
	</select>	

	<!-- 게시판 입력 -->
	<insert id="insertMemberBoard"
		parameterType="com.epl.vo.MemberBoard">
		<selectKey resultType="int" keyProperty="boardNo"
			order="AFTER"> <!-- insert작업이 끝난 후 int boardNo값을 활용해 채워줌 -->
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO member_board(
		board_title,
		board_content,
		board_user,
		board_category,
		board_date
		) values(
		#{boardTitle},
		#{boardContent},
		#{boardUser},
		#{boardCategory},
		now()
		)
	</insert>
	
	<update id = "updateMemberBoard"
			parameterType = "com.epl.vo.MemberBoard">
		UPDATE member_board
		SET board_title = #{boardTitle},
			board_content = #{boardContent},
			board_date = now()
		WHERE board_no = #{boardNo}
		AND
		board_user = #{boardUser}		
	</update>
	
	<!-- 게시판 글 목록의 총 갯수 -->
	<select id="selectMemberBoardCount" resultType="int">
		SELECT COUNT(*) FROM member_board
		<where> <!-- where절 -->
			<choose>
				<when test = 'category=="general"'>
		      		board_category='자유 게시판'
		      		<if test="searchWord != null">
						and board_title like CONCAT('%', #{searchWord}, '%')
					</if>
				</when>
				<when test = 'category=="debate"'>
		      		board_category='토론 게시판'
		      		<if test="searchWord != null">
						and board_title like CONCAT('%', #{searchWord}, '%')
					</if>
				</when>
				<when test = 'category==null or category==""'>
					<if test="searchWord != null">
						and board_title like CONCAT('%', #{searchWord}, '%')
					</if>
				</when>
				<otherwise>
					board_category NOT IN ('자유 게시판','토론 게시판')
					<if test="searchWord != null">
						and board_title like CONCAT('%', #{searchWord}, '%')
					</if>
				</otherwise>
			</choose>
		</where>
	</select>

	<!-- 글 검사 -->
	<select id="check" parameterType="com.epl.vo.MemberBoard"
		resultType="int">
		SELECT COUNT(*)
		FROM member_board
		WHERE board_no = #{boardNo}
		AND board_user = #{boardUser}
	</select>

	<!-- 게시판 댓글 관리 -->
	
	<!-- 댓글 입력 -->
	<insert id = "insertComment"
			parameterType = "com.epl.vo.MemberBoardComment">
		INSERT INTO member_board_comment(
            board_no,
            comment_user, 
            comment_content
        ) values(
            #{boardNo},
            #{commentUser},
            #{commentContent}
        )
	</insert>
 	
 	<!-- 댓글 리스트 -->
 	<select id = "selectCommentList"
            resultType = "com.epl.vo.MemberBoardComment"
            parameterType = "int">
        SELECT
            mbc.comment_no as commentNo,
            mbc.comment_content as commentContent,
            mbc.comment_user as commentUser,
            mbc.comment_date as commentDate,
            m.member_nick_name as memberNickName
        FROM member_board_comment mbc
        INNER JOIN member m
		ON m.member_email = mbc.comment_user
        WHERE board_no = #{boardNo}        
    </select>
    
    <!-- 댓글 삭제 -->
    <delete id = "deleteComment"
    		parameterType = "com.epl.vo.MemberBoardComment">
    	DELETE FROM member_board_comment
    	WHERE comment_no = #{commentNo} AND comment_user = #{commentUser}		
    </delete>
    
    <delete id = "deleteCommentAll"
    		parameterType = "int">
    	DELETE FROM member_board_comment
		WHERE board_no = #{boardNo}		
    </delete>
    
    <!-- 카테고리 리스트 -->
 	<select id = "selectBoardCategory"
            resultType = "String">
        SELECT
            category_name as categoryName
        FROM category   
    </select>
</mapper>




































