<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper
	namespace="com.epl.mapper.MemberMapper">
	<select id="selectMemberList" resultType="com.epl.vo.Member">
		SELECT
		member_email as memberId,
		member_nick_name as memberNickName,
		member_age as memberAge,
		member_gender as memberGender
		FROM member
	</select>
	
	<insert id="insertMember"
		parameterType="com.epl.vo.Member">
		
		INSERT INTO member(
			member_email, 
			member_nick_name, 
			member_age, 
			member_gender
			) VALUES (
			#{memberId},
			#{memberNickName},
			#{memberAge},
			#{memberGender}
			)
	</insert>
	
	<select id = "selectMemberOne"
		parameterType = "String"
		resultType = "com.epl.vo.Member">
		SELECT
		member_email as memberId,
		member_nick_name as memberNickName,
		member_age as memberAge
		FROM member
		WHERE member_email = #{memberId}
	</select>
	
	<update id = "updateMember"
			parameterType = "com.epl.vo.Member">
		UPDATE member SET
		member_nick_name = #{memberNickName},
		member_age = #{memberAge}
		WHERE
		member_email = #{memberId}
	</update>
</mapper>

