<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epl.mapper.PlayerMapper">
	<update id="updatePlayer" parameterType="com.epl.vo.Player">
		UPDATE player
		SET birth_date = #{birthDate}, country = #{country}, height = #{height}, weight = #{weight} , player_position = #{playerPosition}
		WHERE player_no = #{playerNo};
	</update>
	<insert id="insertPlayer" parameterType="com.epl.vo.Player">
		INSERT INTO player(
		player_name,
		birth_date ,
		country ,
		height ,
		weight ,
		player_position
		) VALUES (
		#{playerName} ,
		#{birthDate} ,
		#{country} ,
		#{height} ,
		#{weight} ,
		#{playerPosition}
		)
	</insert>

	<select id="selectPlayerList" resultType="com.epl.vo.Player">
		SELECT
		player_no as playerNo,
		player_name as playerName,
		birth_date as birthDate,
		country as country ,
		height as height ,
		weight as weight ,
		player_position as playerPosition
		FROM player
	</select>

	<select id="selectPlayerListByPage"
		resultType="com.epl.vo.Player" parameterType="com.epl.vo.Page">
		SELECT player_no as playerNo,
		player_name as playerName,
		birth_date as birthDate,
		country as country ,
		height as height ,
		weight as weight ,
		player_position as playerPosition
		FROM player
		<where> <!-- where절 -->
			<if test="searchWord != null">
				player_name like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		ORDER BY birth_date ASC
		LIMIT #{beginRow} , #{rowPerPage}
	</select>


	<select id="selectPlayerCount" resultType="int"
		parameterType="com.epl.vo.Page">
		SELECT COUNT(*) FROM player
		<where>
			<if test="searchWord != null">
				player_name like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>

	<select id="selectPlayerOne" resultType="com.epl.vo.Player"
		parameterType="int">
		SELECT
		player_no as playerNo,
		player_name as playerName,
		birth_date as birthDate,
		country as country ,
		height as height ,
		weight as weight ,
		player_position as playerPosition
		FROM player
		WHERE player_no = #{playerNo}
	</select>
</mapper>  