<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epl.mapper.RefreeMapper">
	<insert id="insertRefree" parameterType="com.epl.vo.Refree">
		INSERT INTO refree(
		refree_name,
		birth_date ,
		country
		) VALUES (
		#{refreeName} ,
		#{birthDate} ,
		#{country}
		)
	</insert>
	
	<select id="selectRefreeList" resultType="com.epl.vo.Refree">
		SELECT
		refree_no as refreeNo ,
		refree_name as refreeName ,
		birth_date as birthDate ,
		country as country
		FROM refree
	</select>
	<select id="selectRefreeListByPage"
		resultType="com.epl.vo.Refree" parameterType="com.epl.vo.Page">
		SELECT
		refree_no as refreeNo ,
		refree_name as refreeName ,
		birth_date as birthDate ,
		country as country
		FROM refree
		<where> <!-- where절 -->
			<if test="searchWord != null">
				refree_name like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		ORDER BY birth_date ASC
		LIMIT #{beginRow} , #{rowPerPage}
	</select>
	
	<select id="selectRefreeCount" resultType="int"
		parameterType="com.epl.vo.Page">
		SELECT COUNT(*) FROM refree
		<where>
			<if test="searchWord != null">
				refree_name like CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
</mapper>