<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
	<link rel ="stylesheet" type = "text/css" href = "/datepicker.css" >
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        <!-- 경로 표시 -->
		<div class="breadcrumbs">
			<div class="breadcrumbs-inner">
				<div class="row m-0">
					<div class="col-sm-4">
						<div class="page-header float-left">
							<div class="page-title">
								<h1>
									<font style="vertical-align: inherit;"><font
										style="vertical-align: inherit;">팀 주장 추가</font></font>
								</h1>
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li><a href="index"><font
											style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">홈</font></font></a></li>
									<li><a href="#"><font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">팀</font></font></a></li>
									<li class="active"><font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">팀 주장 추가</font></font></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#경로 표시 -->
        <!-- Content -->
		<div class="content">
			<div class="card">
				<div class="card-header">
					<strong><font style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">팀 주장 </font></font></strong><font
						style="vertical-align: inherit;"><font
						style="vertical-align: inherit;">입력</font></font>
				</div>
				<div class="card-body card-block">
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="select" class=" form-control-label"><font
								style="vertical-align: inherit;"><font
									style="vertical-align: inherit;">팀 이름 : </font></font></label>
						</div>
						<div class="col-12 col-md-9">
							<select name="select" id="teamName" class="form-control">
   								<option value="none">::: 팀 이름 선택 :::</option>
							</select>
						</div>
					</div>
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="select" class=" form-control-label"><font
								style="vertical-align: inherit;"><font
									style="vertical-align: inherit;">선수 이름 : </font></font></label>
						</div>
						<div class="col-12 col-md-9">
							<select name="select" id="playerNo" class="form-control">
   								<option value="none">::: 선수 이름 선택 :::</option>
							</select>
						</div>
					</div>
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="text-input" class=" form-control-label"> <font
								style="vertical-align: inherit;"> <font
									style="vertical-align: inherit;">임명일 : </font>
							</font>
							</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="date" id="startDate" name="text-input"
								class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="text-input" class=" form-control-label"> <font
								style="vertical-align: inherit;"> <font
									style="vertical-align: inherit;">양도일 : </font>
							</font>
							</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="date" id="endDate" name="text-input"
								placeholder="구단주 입력" class="form-control">
						</div>
					</div>
						
					<button type="button" class="btn btn-lg btn-info btn-block" id="add"><font
							style="vertical-align: inherit;"><font
							style="vertical-align: inherit;"> 입력</font></font>
					</button>
				</div>
			</div>
			<!-- <h1 class="container" style='width:400px;'>addTeamLeadr</h1>
				<div class="container" style='width:400px;'>
					TeamName
					<div>
						<select id ="teamName" class ="form-control form-control-sm">
									
						</select>
					</div>
					PlayerName
					<div>
						<select id = "playerNo" class ="form-control form-control-sm">
									
						</select>
					</div>
				</div>
				<div class="container" style='width:400px;'>
					StartDate
					<input type = "text" id = "startDate" name = "startDate" class ="form-control ">
					
				</div>
				<div class="container" style='width:400px;'>
					EndDate
					<input type = "text" id ="endDate" name = "endDate" class ="form-control">
				</div>
				<div>
					<br>
				</div>
				<div class="container" style='width:400px;'>
					<button type = "submit" id = "add" class="btn btn-success">Add TeamLeader</button>
				</div> -->
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
    $("#startDate").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true, // 월을 바꿀수 있는 셀렉트 박스를 표시한다.
	
		changeYear: true, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다.
		minDate: '-100y', //현재 년부터 100년 전까지
		yearRange: 'c-100:c+10', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.
		
		onClose: function( selectedDate ) {    
            // 시작일(startDate) datepicker가 닫힐때
            // 종료일(endDate)의 선택할수있는 최소 날짜(minDate)를 선택한 시작일로 지정
            $("#endDate").datepicker( "option", "minDate", selectedDate );
        }       
		
	});
	
	$("#endDate").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true, // 월을 바꿀수 있는 셀렉트 박스를 표시한다.
	
		changeYear: true, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다.
		minDate: '-100y', //현재 년부터 100년 전까지
		yearRange: 'c-100:c+10', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.
		
		onClose: function( selectedDate ) {
            // 종료일(endDate) datepicker가 닫힐때
            // 시작일(startDate)의 선택할수있는 최대 날짜(maxDate)를 선택한 종료일로 지정 
            $("#startDate").datepicker( "option", "maxDate", selectedDate );
        }        
		
	});
	
		//팀 리스트 출력
		$.ajax({
			url:"/getTeamList",
			method:"POST",
			success:function(json){
				$("#teamName").empty();
				$(json).each(function(index, item){
					temp = "<option value = '";
					temp += item.teamName;
					temp += "'>";
					temp += item.teamName;
					temp += "</option>";
					$("#teamName").append(temp);
				});
			}
		});

	//선택한 팀의 선수를 출력
	$("#teamName").change(function(){
		console.log("teamName:"+$("#teamName").val());
		// console.log("list:"+$("#playerNo").val());
		$.ajax({
			url:"/getPlayerContract",
			method:"POST",
			data:{"teamName": $("#teamName").val()},
			success:function(json){
				console.log(json);
				$("#playerNo").empty();
				$(json).each(function(index, item){
					temp = "<option value = '";
					temp += item.playerNo;
					temp += "'>";
					temp += item.playerName;
					temp += "</option>";
					$("#playerNo").append(temp);
				});
			}
		});
	});
	//입력한 정보를 db에 저장
	$("#add").click(function(){
		console.log("palyerName:"+$("#playerName").val());
		console.log("playerNo:"+$("#playerNo").val());
		console.log("teamName:"+$("#teamName").val());
		console.log("startDate:"+$("#startDate").val());
		console.log("endDate:"+$("#endDate").val());
		if($("#playerName").val()==""||$("#startDate").val()==""||$("endDate").val==""){
			alert("정보를 모두 입력해주세요");
		}else{
		$.ajax({
			url:"/addTeamLeader",
			method:"POST",
			data:{"playerNo" : $("#playerNo").val(),
					"teamName" : $("#teamName").val(),
					"startDate" : $("#startDate").val(),
					"endDate" : $("#endDate").val()
			},
			success:function(json){
				console.log(json);
				location.reload();
			}
		});
		}
	});
    </script>
</body>
</html>