<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<th:block th:include = "template/part/headLayout"></th:block>
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        
        <!-- Content -->
		<div class="content">
			<h1>addTeam</h1>
			<div>
				teamName
				<input type = "text" name = "teamName" id = "teamName">
			</div>
			<div>
				nickName
				<input type = "text" name = "nickName" id = "nickName">
			</div>
			<div>
				foundation
				<input type="text" id="foundation" name = "foundation">
				
			</div>
			<div>
				stadiumName
				<tr>
					<td>
						<div>
							<select id = "stadiumName">
								
							</select>
						</div>
					</td>
				</tr>
			</div>
			<div>
				homePlace
				<input type = "text" name = "homePlace" id = "homePlace">
			</div>
			<div>
				rival
				<input type = "text" name = "rival" id = "rival">
			</div>
			<div>
				owner
				<input type = "text" name = "owner" id = "owner">
			</div>
			<Button type = "submit" id = "add">add team</Button>
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
    $("#foundation").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true, // 월을 바꿀수 있는 셀렉트 박스를 표시한다.

		changeYear: true, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다.
		minDate: '-100y', //현재 년부터 100년 전까지
		yearRange: 'c-100:c+10', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.

	});


		$.ajax({
			url:"/getStadiumList",
			method:"POST",
			success:function(json){
				$("#stadiumName").empty();
				$(json).each(function(index, item){
					temp = "<option value = '";
					temp += item.stadiumName;
					temp += "'>";
					temp += item.stadiumName;
					temp += "</option>";
					$("#stadiumName").append(temp);
				});
			}
		});


	$("#add").click(function(){
		$.ajax({
			url:"/addTeam",
			method:"POST",
			data:{"teamName" : $("#teamName").val(),
				"nickName" : $("#nickName").val(),
				"foundation" : $("#foundation").val(),
				"stadiumName" : $("#stadiumName").val(),
				"homePlace" : $("#homePlace").val(),
				"rival" : $("#rival").val(),
				"owner" : $("#owner").val()
				},
			success:function(json){
				alert("add team");
				location.href="/index"
			}
		});
	});
    </script>
</body>
</html>
