<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        <!-- 경로 표시 -->
		<div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">팀 리스트</font></font></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">홈</font></font></a></li>
                                    <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">팀</font></font></a></li>
                                    <li class="active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">팀 리스트</font></font></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#경로 표시 -->
        <!-- Content -->
		<div class="content">
			<div class="animated fadeIn">
				<div class="row">

					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">팀 리스트 </strong>
							</div>
							<div class="card-body">
							
									<div id="bootstrap-data-table_filter" class="dataTables_filter">
										<label>검색(팀 이름) : </label><label>
										<input type="search" class="form-control form-control-sm"  id ="searchWord"
											placeholder="" aria-controls="bootstrap-data-table"></label>
											
										<button class="btn btn-sm btn-primary" type="submit" id="search">검색</button>
										<a href = "/addTeam">팀 추가</a>
									</div>
								<table id="bootstrap-data-table"
									class="table table-striped">
									<thead>
										<tr>
											<td>팀 이름</td>
											<td>애칭</td>
											<td>창단일</td>
											<td>홈 구장</td>
											<td>연고지</td>
											<td>라이벌</td>
											<td>구단주</td>
										</tr>
									</thead>
									<tbody  id="teamName">

									</tbody>
								</table>
								<ul class="pagination pagination-sm">
									<li class="page-item"><a class="page-link" id="preBtn">이전</a></li>
									<li class="page-item"><a class="page-link" id="nextBtn">다음</a></li>
									
									
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!-- .animated -->
			<!-- <table class = "table">
				<thead>
					<tr>
						<th>teamName</th>
						<th>nick_name</th>
						<th>foundation</th>
						<th>stadium_name</th>
						<th>home_place</th>
						<th>rival</th>
						<th>owner</th>
					</tr>
				</thead>
				<tbody id = "teamName">
						
				</tbody>
				<a href = "/addTeam">팀 추가</a>
			</table> -->
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
    $.ajax({
		url:"/getTeamList",	
		method:"Post",
		success:function(json){
			$("#teamName").empty();
			$(json).each(function(index, item){
				console.log(item);
				temp = "<tr><td>";
				temp += item.teamName;
				temp += "</td><td>";
				temp += item.nickName;
				temp += "</td><td>";
				temp += item.foundation;
				temp += "</td><td>";
				temp += item.stadiumName;
				temp += "</td><td>";
				temp += item.homePlace;
				temp += "</td><td>";
				temp += item.rival;
				temp += "</td><td>";
				temp += item.owner;
				temp += "</td><td>"
				temp += "<a href = '/modifyTeam?teamName="+item.teamName+"'>팀 수정</a>"
				temp += "</td></tr>";
				$("#teamName").append(temp);
			});
		}
	});
    </script>
</body>
</html>