<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
	<link rel ="stylesheet" type = "text/css" href = "/datepicker.css" >
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        <!-- 경로 표시 -->
		<div class="breadcrumbs">
			<div class="breadcrumbs-inner">
				<div class="row m-0">
					<div class="col-sm-4">
						<div class="page-header float-left">
							<div class="page-title">
								<h1>
									<font style="vertical-align: inherit;"><font
										style="vertical-align: inherit;">팀 추가</font></font>
								</h1>
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="page-header float-right">
							<div class="page-title">
								<ol class="breadcrumb text-right">
									<li><a href="adminIndex"><font
											style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">홈</font></font></a></li>
									<li><a href="#"><font style="vertical-align: inherit;"><font
												style="vertical-align: inherit;">팀</font></font></a></li>
									<li class="active"><font style="vertical-align: inherit;"><font
											style="vertical-align: inherit;">팀 추가</font></font></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#경로 표시 -->
        <!-- Content -->
		<div class="content">
			<div class="card">
				<div class="card-header">
					<strong><font style="vertical-align: inherit;"><font
							style="vertical-align: inherit;">팀 </font></font></strong><font
						style="vertical-align: inherit;"><font
						style="vertical-align: inherit;"> 수정 </font></font>
						<h3 id = "name"></h3>
				</div>
				<div class="card-body card-block">

					<div class="row form-group">
						<div class="col col-md-3">
							<label for="text-input" class=" form-control-label"> <font
								style="vertical-align: inherit;"> <font
									style="vertical-align: inherit;">팀 이름 : </font>
							</font>
							</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="text" id="teamName" name="text-input"
								placeholder="팀 이름 입력" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="text-input" class=" form-control-label"> <font
								style="vertical-align: inherit;"> <font
									style="vertical-align: inherit;">애칭 : </font>
							</font>
							</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="text" id="nickName" name="text-input"
								placeholder="애칭 입력" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="text-input" class=" form-control-label"> <font
								style="vertical-align: inherit;"> <font
									style="vertical-align: inherit;">창단 년도 : </font>
							</font>
							</label>
						</div>
						<div class="col-12 col-md-9">
							<select name="select" id="foundation" class="form-control">
   								<option value="none">창단 년도</option>
							</select>
						</div>
					</div>
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="select" class=" form-control-label"><font
								style="vertical-align: inherit;"><font
									style="vertical-align: inherit;">홈 구장 : </font></font></label>
						</div>
						<div class="col-12 col-md-9">
							<select name="select" id="stadiumName" class="form-control">
   								<option value="none">::: 홈 구장 선택 :::</option>
							</select>
						</div>
					</div>

					<div class="row form-group">
						<div class="col col-md-3">
							<label for="text-input" class=" form-control-label"> <font
								style="vertical-align: inherit;"> <font
									style="vertical-align: inherit;">연고지 : </font>
							</font>
							</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="text" id="homePlace" name="text-input"
								placeholder="연고지 입력" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="text-input" class=" form-control-label"> <font
								style="vertical-align: inherit;"> <font
									style="vertical-align: inherit;">라이벌 : </font>
							</font>
							</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="text" id="rival" name="text-input"
								placeholder="라이벌 입력" class="form-control">
						</div>
					</div>
					<div class="row form-group">
						<div class="col col-md-3">
							<label for="text-input" class=" form-control-label"> <font
								style="vertical-align: inherit;"> <font
									style="vertical-align: inherit;">구단주 : </font>
							</font>
							</label>
						</div>
						<div class="col-12 col-md-9">
							<input type="text" id="owner" name="text-input"
								placeholder="구단주 입력" class="form-control">
						</div>
					</div>
						
					<button type="button" class="btn btn-lg btn-info btn-block" id="modify"><font
							style="vertical-align: inherit;"><font
							style="vertical-align: inherit;"> 수정</font></font>
					</button>
				</div>
			</div>
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
    //url에서 팀이름을 받아옴
    function searchParam(key) {
   		return new URLSearchParams(location.search).get(key);
   	};
   	//상단에 현재 팀 이름 출력
   	var name = searchParam("teamName");
   	console.log("name:"+name);
   	$("#name").append(name);
   	//현재 년도 설정
   	var current = new Date().getFullYear();
   	console.log("current:"+current);
    //창단년도 출력
    for(i=1800;i<current+1;i++){
    	$("#foundation").append("<option>"+i+"</option>");
    }
	console.log("teamName:"+searchParam("teamName"));
		//경기장의 리스트를 출력
		$.ajax({
			url:"/getStadiumList",
			method:"POST",
			success:function(json){
				$("#stadiumName").empty();
				$(json).each(function(index, item){
					temp = "<option value = '";
					temp += item.stadiumName;
					temp += "'>";
					temp += item.stadiumName;
					temp += "</option>";
					$("#stadiumName").append(temp);
				});
			}
		});
	//수정한 정보를 db에 저장
	$("#modify").click(function(){
		$.ajax({
			url:"/modifyTeam",
			method:"POST",
			data:{"teamName": searchParam("teamName"),
				"modifyName": $("#teamName").val(),
				"nickName" : $("#nickName").val(),
				"foundation" : $("#foundation").val(),
				"stadiumName" : $("#stadiumName").val(),
				"homePlace" : $("#homePlace").val(),
				"rival" : $("#rival").val(),
				"owner" : $("#owner").val()
			},
			success:function(json){
				alert("수정 완료");
				location.href="/getTeamList"
			}
		});
	});
	
	
    </script>
</body>
</html>
