<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
	
	<style>
SELECT,OPTION,SELECT, INPUT , BODY, TABLE, TD {
 	font-size:20px;
 }
td {
    width: 500px;
  }
 .ct {
  margin: 0 auto;
  text-align: center;
}
	</style>
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        
        <!-- Content -->
		<div class="content">
		<div class = "ct">
			<h2>Match Result</h2>
			<div id = "finishedMatch">
			</div>
		</div>
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<th:block th:include = "/member/template/layout/footer"></th:block>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
		$.ajax({	
			url:"/getFinishedMatch",
			method:"POST",
			success:function(json){
				$("#finishedMatch").empty();
				$(json).each(function(index, item){
					console.log(json);
					
						temp = "<table class = 'table' border = '1'><thead class='thead-dark'><tr><th>";
						temp += item.hometeamName;
						
						if(item.hometeamName)
						
						temp += "</th><th>VS</th><th>"
						temp +=	item.awayteamName;
						temp +=	"</th></tr></thead>";
						temp += "<tr><td>";
						temp +=	item.hometeamGoals;
						temp +=	"</td><td></td><td>"
						temp += item.awayteamGoals;
						temp +="</td></tr></table><br>";
						$("#finishedMatch").append(temp);	
				});
			}
		});
    </script>
</body>
</html>