<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.epl.refree.mapper.RefreeMapper">
	<insert id="insertRefree" parameterType="com.epl.vo.Refree">
		INSERT INTO refree(
			refree_name,
			birth_date ,
			country
		) VALUES (
			#{refreeName} ,
			#{birthDate} ,
			#{country}
		)
	</insert>
</mapper>