<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>boardOne</title>
	<th:block th:include = "template/part/headLayout"></th:block>
	<link rel ="stylesheet" type = "text/css" href = "/datepicker.css" >
</head>	
<style>
	#boardContent{
		min-height:500px;
	}
</style>
<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        
        <!-- Content -->
		<div class="content">
			<div class="card">
				<div class="card-body">
					<!-- 경로 표시 -->
					<div class="breadcrumbs">
						<div class="breadcrumbs-inner">
							<div class="row m-0">
								<div class="col-sm-4">
									<h2 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">자유 게시판</font></font></h2>
								</div>
								<div class="col-sm-8">
									<div class="page-header float-right">
										<div class="page-title">
											<ol class="breadcrumb text-right">
												<li><a href="index"><font
														style="vertical-align: inherit;"><font
															style="vertical-align: inherit;">홈 </font></font></a></li>
												<li><a href="#"><font style="vertical-align: inherit;"><font
															style="vertical-align: inherit;">전체 게시판 </font></font></a></li>
												<li class="active"><font style="vertical-align: inherit;"><font
														style="vertical-align: inherit;">자유 게시판</font></font></li>
											</ol>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /#경로 표시 -->
					<div id="title"></div>
				   
				   	<div id = "boardContent">
				    	너무 시끄럽잔아
				    </div>
				    <div class="row">
						<div class="col-sm-4">
					   	댓글 <span id="commentCount">0</span> 개
					   	</div>
					   	<div align="right" class="col-sm-8">
							<button class="btn btn-danger" id="removeBoard">삭제</button>
					   	</div>
					   	
					</div>
				   	<hr style=" border: solid 1px green;">
				    <div id = "boardComment">
					   
					</div>
					<hr style=" border: solid 1px green;">
					<button id="moveList" class="btn btn-primary">목록</button>
				</div>
			</div>
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
    function searchParam(key) {
   		return new URLSearchParams(location.search).get(key);
   	};
   	let category=null;
   	//게시물 상세 불러오기
	$.ajax({
		url:"/getBoardOne",
		method:"POST",
		data:{boardNo:searchParam("boardNo")},
		success:function(json){
			console.log(json);
			
			temp = "<h3>"+json.boardTitle+"</h3><br><div class='row'>"+
		    "<div class='col-sm-10'>"+json.boardUser+"</div>"+
		    "<div class='col-sm-2'>"+json.boardDate+"</div><hr></div><hr>";
		    $("#title").html(temp);
		    $("#boardContent").html(json.boardTitle);
		    category=json.boardCategory;
		}
	});
   	//게시물의 댓글을 불러온다
	$.ajax({
		url:"/getBoardComment",
		method:"POST",
		data:{boardNo:searchParam("boardNo")},
		success:function(json){
			console.log(json);
			$("#commentCount").html(json.length);
			$("#boardComment").empty();
			$(json).each(function(index, item){
				temp="<div class='row'>"+
				"<div class='col-sm-2'>"+item.commentUser+"</div>"+
				"<div class='col-sm-7'>"+item.commentContent+"</div>"+
				"<div class='col-sm-2'>"+item.commentDate+"</div>"+
				"<div class='col-sm-1'><a href='adminCommnetDelete?commentNo="+item.commentNo+"'>삭제</a></div>"+
		   		"</div><hr>";
			    $("#boardComment").append(temp);
				
			});
		}
	});
   	$("#removeBoard").click(function(){
   		location.href="adminBoardDelete?boardNo="+searchParam("boardNo");
   	});
   	$("#moveList").click(function(){
   		location.href="adminBoardList?category="+category;
   	});
    </script>
</body>
</html>
