<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        
        <!-- Content -->
		<div class="content">
			
			<div class="content">
	
	 <select id = "unFinishedmatch"></select>

	 <table class = "table">
	 	<tr>
	 		<td id = "hometeamName">HomeTeam</td>
	 		<td>VS</td>
	 		<td	id = "awayteamName">AwayTeam</td>
	 	</tr>
	 	<tr>
	 		<td></td>
	 		<td id = "stadium">경기장 : </td>
	 		<td></td>
	 	</tr>
	 	<tr>
	 		<td	id = "hometeamGoals">0</td>
	 		<td id = "matchDate">날짜  : </td>
	 		<td	id = "awayteamGoals">0</td>
	 	</tr>
	 	<tr>
	 		<td></td>
	 		<td id = "matchTime">시간  :</td>
	 		<td></td>
	 	</tr>
	 </table>
	 
	 <button id = "activeF">경기 종료</button>

</div>	
			
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<th:block th:include = "/member/template/layout/footer"></th:block>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>

    </script>
</body>
</html>
