<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        
        <!-- Content -->
		<div class="content">
			<div class="sufee-login d-flex align-content-center flex-wrap">
		<div class="container">
			<div class="login-content">
				<div class="login-logo">
					<a href="index.html"> <img class="align-content"
						src="images/logo.png" alt="">
					</a>
				</div>
				<div class="login-form">
					<form method="post" action="addAdmin">
						<div class="form-group">
							<label>ID</label> <input type="text" name="adminId"
								class="form-control" placeholder="id를 입력하세요">
						</div>
						<div class="form-group">
							<label>Password</label> <input type="password"
								class="form-control" name="adminPw" placeholder="pw를 입력하세요">
						</div>
						<div class="form-group">
							<label>Name</label> <input type="text" class="form-control"
								name="adminName" placeholder="이름을 입력하세요">
						</div>
						<div class="form-group">
							<label>E-Mail</label> <input type="email" class="form-control"
								name="adminEmail" placeholder="e-mail을 입력하세요">
						</div>

						<button type="submit"
							class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>

					</form>
				</div>
			</div>
		</div>
	</div>
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
		
    </script>
</body>
</html>
