<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        
        <!-- Content -->
		<div class="content">
			<h1>회원가입</h1>
			<form method="post" action="addAdmin">
				<div>
					<input type="text" name="adminId" placeholder="id를 입력하세요">
				</div>
				<div>
					<input type="password" name="adminPw" placeholder="pw를 입력하세요">
				</div>
				<div>
					<input type="text" name="adminName" placeholder="이름을 입력하세요">
				</div>
				<div>
					<input type="email" name="adminEmail" placeholder="e-mail을 입력하세요">
				</div>
				<button type="submit">회원추가</button>
			</form>
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>

    </script>
</body>
</html>
