<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
	<link rel ="stylesheet" type = "text/css" href = "/datepicker.css" >
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        
        <!-- Content -->
		<div class="content">
			<p>경기 입력 페이지</p>

	<table class = "table">
		<thead>
			<tr>
				<td><b>Home Team</b></td>
				<td><b>경기 시간</b></td>
				<td><b>Away Team</b></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<select id = "hometeamList" name="bootstrap-data-table_length" aria-controls="bootstrap-data-table" class="form-control form-control-sm">
					
					</select>
				</td>
				<td>
					<input type ="time" id = "matchTime" class="form-control" placeholder="time input">
				</td>
				<td>
					<select id ="awayteamList" name="bootstrap-data-table_length" aria-controls="bootstrap-data-table" class="form-control form-control-sm">
					</select>
				</td>
			</tr>
			<tr>
				<td><b>심판</b></td>
				<td><b>날짜</b></td>
				<td><b>경기장</b></td>
			</tr>
			<tr>
				<td><select id =refreeList name="bootstrap-data-table_length" aria-controls="bootstrap-data-table" class="form-control form-control-sm">
					</select>
				</td>
				<td>
					<input type ="text" id = "matchDate" placeholder = "날짜를 선택해 주세요!" style = "opacity: 0.5">
				</td>
				<td id ="stadium"></td>
			<tr>	
		</tbody>
	</table>
	<button id="insert" class="btn btn-outline-info">경기 입력</button>
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
    $("#matchDate").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true, // 월을 바꿀수 있는 셀렉트 박스를 표시한다.
	
		changeYear: true, // 년을 바꿀 수 있는 셀렉트 박스를 표시한다.
		minDate: '-100y', //현재 년부터 100년 전까지
		yearRange: 'c-100:c+10', // 년도 선택 셀렉트박스를 현재 년도에서 이전, 이후로 얼마의 범위를 표시할것인가.    
	});	
	
 	// 홈팀 선택
	$.ajax({
		url:"/teamList",
		method:"POST",
		success:function(json){
			console.log(json);
			$("#hometeamList").empty();
			$("#hometeamList").append("<option value='none'>--선택--</option>")
			$(json).each(function(index,item){
				temp="<option value='";
				temp+=item.teamName;
				temp+="'>";
				temp+=item.teamName;
				temp+="</option>";
				$("#hometeamList").append(temp);
			});
		}
	});
	//홈팀 선택시 자동의로 경기장 선택
	$("#hometeamList").change(function(){
	$.ajax({
		url:"/stadium",
		method:"POST",
		data:{"teamName":$("#hometeamList").val()},
		success:function(json){
			console.log(json);
			$("#stadium").empty();
			$("#stadium").append(json);	
			}	
		});
	})
	
	
	//어웨이팀 선택
	$.ajax({
		url:"/teamList",
		method:"POST",
		success:function(json){
			console.log(json);
			$("#awayteamList").empty();
			$("#awayteamList").append("<option value='none'>--선택--</option>")
			$(json).each(function(index,item){
				temp="<option value='";
				temp+=item.teamName;
				temp+="'>";
				temp+=item.teamName;
				temp+="</option>";
				$("#awayteamList").append(temp);
			});
		}
	});
	//심판 선택
	$.ajax({
		url:"/refreeList",
		method:"POST",
		success:function(json){
			console.log(json);
			$("#refreeList").empty();
			$(json).each(function(index,item){
				temp="<option value='";
				temp+=item.refreeNo;
				temp+="'>";
				temp+=item.refreeName;
				temp+="</option>";
				$("#refreeList").append(temp);
			});
		}
	});
	
	// 경기입력
	$("#insert").click(function(){
		console.log("확인!");
		console.log("hometeamName : ", $("#hometeamList").val());
		console.log("awayteamName : ", $("#awayteamList").val());
		console.log("matchDate : ", $("#matchDate").val());
		console.log("matchTime : ", $("#matchTime").val());
		console.log("stadiumName : ",$("#stadium").text());
		console.log("refreeNo : ", $("#refreeList").val());
		
		$.ajax({
			url:"/insertMatch",
			method:"POST",
			data:{
				  "hometeamName":$("#hometeamList").val(),
				  "awayteamName":$("#awayteamList").val(),
				  "matchDate":$("#matchDate").val(),
				  "matchTime":$("#matchTime").val(),
				  "stadiumName":$("#stadium").text(),
				  "refreeNo":$("#refreeList").val()
				  },
			success:function(json){
				console.log(json);
				location.href = "/getPlayerList";
				}	
			});
		});
    </script>
</body>
</html>
