<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Template</title>
<th:block th:include="template/part/headLayout"></th:block>
</head>

<body>
	<!-- Left Panel -->
	<th:block th:include="template/part/aside"></th:block>
	<!-- /#left-panel -->

	<!-- Right Panel -->
	<div id="right-panel" class="right-panel">
		<!-- Header-->
		<div th:include="template/part/topBar::topBar"></div>
		<!-- /#header -->

		<!-- Content -->
		<div class="content">
			<div>
				player : <select id="player">
				</select>
			</div>
			<div>
				position : <select id="position">
					<option value="1">GK</option>
					<option value="2">DF</option>
					<option value="3">MF</option>
					<option value="4">FW</option>
				</select>
			</div>
			<button type="button" id="add">player position Add</button>
		</div>
		<!-- /.content -->


		<div class="clearfix"></div>

		<!-- Footer -->
		<div th:include="template/part/footer::footer"></div>
		<!-- /Footer -->

	</div>
	<!-- /#right-panel -->



	<!--Local Stuff-->
	<script>
		$.ajax({
			url : "/getPlayerList",
			method : "post",
			success : function(json){
				console.log("player 성공 !");
				console.log(json);
				$(json).each(function(index, item){
					temp = "<option value = '";
					temp += item.playerNo;
					temp += "'>";
					temp += item.playerName;
					temp += "</option>";
					$("#player").append(temp);
				});
			}
		});
		
		// 플레이어 입력버튼
		 $("#add").click(function() {
			 	console.log($("#player").val());
			 	console.log($("#position").val());
			$.ajax({
				url : "/addPlayerPosition",
				method : "post",
				data : {"playerNo" : $("#player").val() , "positionNo" : $("#position").val()} ,
				success : function(json) {
					console.log(json + "입력성공 !");
				}
			});
		}); 
    </script>
</body>
</html>
