<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
<title>:::::LOGIN-EPL:::::</title>
<th:block th:include="template/part/headLayout"></th:block>
</head>

<body class="bg-dark">

	<!-- Content -->
	<div class="sufee-login d-flex align-content-center flex-wrap">
		<div class="container">
			<div class="login-content">
				<div class="login-logo">
					<a href="adminIndex.html"> <img class="align-content"
						src="images/logo.png" alt="">
					</a>
				</div>
				<div class="login-form">
					<form method="post" action="login">
						<div class="form-group">
							<label>ID</label> <input type="text" name="adminId" class="form-control"
								placeholder="ID">
						</div>
						<div class="form-group">
							<label>Password</label> 
							<input type="password" name="adminPw" class="form-control" placeholder="Password">
						</div>
						<div class="checkbox">
							<label class="pull-right"> 
								<a href="/modifyAdminPw">Forgotten Password?</a>
							</label>
						</div>
						<button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.content -->

	<!--Local Stuff-->
	<script>
		
	</script>
</body>
</html>
