<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
</head>	

<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        
        <!-- Content -->
		<div class="content">
			<div class="row">
				<div class="col"></div>
					<h1>회원정보수정</h1>
				<div class="col"></div>
			</div>
			<br>
			<div class = "benter-block">
				<form method="post" action="/modifyAdmin" class="was-validated">
					<div class="row">
						<div class="col"></div>
							<div class="col-sm-4">
								<input type="text" name="adminId" readonly="readonly" class="form-control"
									th:value="${admin.adminId}" placeholder="ID">
							</div>
						<div class="col"></div>
					</div>
					<br>
					<div class="row">
						<div class="col"></div>
							<div class="col-sm-4">
								<input type="text" name="adminName" class="form-control" th:value="${admin.adminName}" placeholder="수정할 이름을 입력하세요.">
							</div>
						<div class="col"></div>
					</div>
					<br>
					<div class="row">
						<div class="col"></div>
							<div class="col-sm-4">
								<input type="password" name="beforePw" class="form-control mr-sm-2" placeholder="기존 비밀번호를 입력하세요.">
							</div>
						<div class="col"></div>
					</div>
							
					<br>
					<div class="row">
						<div class="col"></div>
							<div class="col-sm-4">
								<input type="password" name="adminPw" class="form-control" placeholder="변경할 비밀번호를 입력하세요.">
							</div>
						<div class="col"></div>
					</div>
					<br>
					<div class="row">
						<div class="col"></div>
							<button type="submit" class="btn btn-outline-success">수정</button>
						<div class="col"></div>
					</div>
				</form>
			</div>
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
		
    </script>
</body>
</html>
