<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >

<head>
	<title>Template</title>
	<th:block th:include = "template/part/headLayout"></th:block>
</head>	
<style>
.table {
   margin: 0 auto;
   text-align: center;
}
   .playerList {
   height: 680px;
   width: 250px;
}

.main {
   height: 300px;
   width: 250px;
}

.sub {
   height: 200px;
   width: 250px;
}

.keeper {
   height: 100px;
   width: 250px;
}
</style>
<body>
    <!-- Left Panel -->
    	<th:block th:include = "template/part/aside"></th:block>
    <!-- /#left-panel -->
    
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        	<div th:include ="template/part/topBar::topBar"></div>
        <!-- /#header -->
        
        <!-- Content -->
		<div class="content">
			<div class = "center">
   <h2>선발출전 명단 설정입니다.</h2>
   <h3>선수를 한명씩 눌러주세요.</h3>
   <table class="table table-hover  table-bordered ">
      <tr>
         <td class="table-active">HOME Team</td>
         <td class="table-active">
         	<!-- 경기 리스트 -->
            <select id ="matchList" name="bootstrap-data-table_length" aria-controls="bootstrap-data-table" class="form-control form-control-sm"></select>
         </td>
         <td class="table-active">AWAY team</td>
      </tr>
      <tr>
      	 <!-- 선택한 경기의 홈팀 어웨이팀과 경기날짜가 표시됨 -->
         <td id ="HomeTeam" class="table-primary">HomeTeam Name</td>
         <td id ="MatchDate" class="table-active">Match Date</td>
         <td id ="AwayTeam" class="table-danger">AwayTeam Name</td>
      </tr>
      
      <tr>
         <td class="table-primary">
            <!-- 홈팀 선수 리스트 -->
         <select id ="homeTeamPlayer" multiple="multiple" class = "playerList"></select>
      </td>
         <td class="table-success">
         
         <!-- 골키퍼 제외 선발선수 10명 선택-->
         <div><dt><mark>선발 명단</mark></dt></div>
         <select id ="hMainPlayer" multiple="multiple" class = "main table-primary"></select>
         <select id ="aMainPlayer" multiple="multiple" class = "main table-danger"></select>
         <br>
         
         <!--키퍼 선택 -->
         <div><dt><mark>선발 키퍼</mark></dt></div>
         <select id ="hKeeper" multiple="multiple" class = "keeper table-primary"></select>
         <select id ="aKeeper" multiple="multiple" class = "keeper table-danger"></select>
         <br>
         
         <!--후보 선수 7 명 선택-->
         <div><dt><mark>교체 선수</mark></dt></div>
         <select id ="hSubPlayer" multiple="multiple" class = "sub table-primary"></select>
         <select id ="aSubPlayer" multiple="multiple" class = "sub table-danger"></select>   
         </td>
         
         <!--어웨이팀 선수 리스트-->
      	 <td class="table-danger">
         <select id ="awayTeamPlayer" multiple="multiple" class = "playerList"></select>
      	 </td>
      </tr>
   </table>
   	
   <button id = "insertMatchPlayer">선발 명단 입력</button>
</div>
		</div>
        <!-- /.content -->		
        
        
        <div class="clearfix"></div>
        
        <!-- Footer -->
    	<div th:include ="template/part/footer::footer"></div>
        <!-- /Footer -->
        
    </div>
    <!-- /#right-panel -->

    

    <!--Local Stuff-->
    <script>
    $('#homeTeamPlayer').click(function() {
        let homeMainCount = $('#hMainPlayer > option').length + 1;
        let homeSubCount = $('#hSubPlayer > option').length + 1;
        let homeKeeperCount = $('#hKeeper > option').length + 1;
           
        if(homeMainCount < 11) {
           return !$('#homeTeamPlayer option:selected').remove().appendTo('#hMainPlayer');
        } else {
           if(homeKeeperCount < 2) {
              return !$('#homeTeamPlayer option:selected').remove().appendTo('#hKeeper');
           } else {
              if(homeSubCount < 8) {
                 return !$('#homeTeamPlayer option:selected').remove().appendTo('#hSubPlayer');
              } else {
                 alert("18명 이상 구할수없습니다!");
              }
               }
        }
     });
     
     // 홈팀 선수 명단 삭제
     $('#hMainPlayer').click(function() {
        return !$('#hMainPlayer option:selected').remove().appendTo('#homeTeamPlayer');
     });
     
     $('#hKeeper').click(function() {
        return !$('#hKeeper option:selected').remove().appendTo('#homeTeamPlayer');
     });
     
     $('#hSubPlayer').click(function() {
        return !$('#hSubPlayer option:selected').remove().appendTo('#homeTeamPlayer');
     });

     // 어웨이팀 선수 명단 추가
     $('#awayTeamPlayer').click(function() {
          let awayMainCount = $('#aMainPlayer > option').length + 1;
          let awaySubCount = $('#aSubPlayer > option').length + 1;
          let awayKeeperCount = $('#aKeeper > option').length + 1;
          
          if(awayMainCount < 11) {
             return !$('#awayTeamPlayer option:selected').remove().appendTo('#aMainPlayer');
          } else {
           if(awayKeeperCount < 2) {
              return !$('#awayTeamPlayer option:selected').remove().appendTo('#aKeeper');
           } else {
              if(awaySubCount < 8) {
                 return !$('#awayTeamPlayer option:selected').remove().appendTo('#aSubPlayer');
              } else {
                 alert("18명 이상 구할수없습니다!");
              }
               }
        }
     });

     // 어웨이팀 선수 명단 삭제
     $('#aMainPlayer').click(function() {
        return !$('#aMainPlayer option:selected').remove().appendTo('#awayTeamPlayer');
     });
     
     $('#aKeeper').click(function() {
        return !$('#aKeeper option:selected').remove().appendTo('#awayTeamPlayer');
     });
     
     $('#aSubPlayer').click(function() {
        return !$('#aSubPlayer option:selected').remove().appendTo('#awayTeamPlayer');
     });
    
     //매치 목록
     $.ajax({
        url:"/getMatchList",
        method:"POST",
        success:function(json){
           console.log(json);
           $("#matchList").empty();
           $("#matchList").append("<option value='none'>--선택--</option>")
           $(json).each(function(index,item){
              temp="<option value='";
              temp+=item.matchNo;
              temp+="'>";
              temp+=item.matchDate+"  "+item.hometeamName+"  vs  "+item.awayteamName;
              temp+="</option>";
              $("#matchList").append(temp);
           });
        }
     });
     
     $("#matchList").change(function(){
           $.ajax({
              url:"/getMatchOne",
              method:"POST",
              data:{"matchNo":$("#matchList").val()},
              success:function(json){
                 console.log("선택한 경기의 정보");
                 console.log(json);
                 
                 $("#HomeTeam").empty();
                 $("#MatchDate").empty();
                 $("#AwayTeam").empty();
                 
                 $("#HomeTeam").append(json.hometeamName);
                 $("#MatchDate").append(json.matchDate);
                 $("#AwayTeam").append(json.awayteamName);
                 
                 console.log("홈팀 값 : ")
                 console.log($("#HomeTeam").text())
                 
                 $.ajax({
                    url:"/getPlayerListByTeamName",
                    method:"POST",
                    data:{"teamName":$("#HomeTeam").text()},
                    success:function(json){
                       console.log("선수 리스트");
                       console.log(json);   
                       $(json).each(function(index,item){
                          temp="<option value='";
                          temp+=item.playerNo;
                          temp+="'>";
                          temp+="등번호 : "+item.uniformBackNumber+"    이름 : "+item.playerName+"    포지션 : "+item.playerPosition;
                          temp+="</option>";
                          $("#homeTeamPlayer").append(temp);
                       })
                       }   
                    })
                    
                 $.ajax({
                    url:"/getPlayerListByTeamName",
                    method:"POST",
                    data:{"teamName":$("#AwayTeam").text()},
                    success:function(json){
                       console.log("선수 리스트");
                       console.log(json);
                       $(json).each(function(index,item){
                          temp="<option value='";
                          temp+=item.playerNo;
                          temp+="'>";
                          temp+="등번호 : "+item.uniformBackNumber+"    이름 : "+item.playerName+"    포지션 : "+item.playerPosition;
                          temp+="</option>";
                          $("#awayTeamPlayer").append(temp);
                       })
                       }   
                    })
                 }   
              })
        });
   	
     
  // select의 value 값들을 빼온다
  	var mainPlayerNo = [];
  	var KeeperNo = [];
  	var subPlayerNo = [];
   	$("#insertMatchPlayer").click(function() {
   	// Hm
   		var homeTeamMainNo = [];
    	$('#hMainPlayer > option').each(function(){
    		homeTeamMainNo.push ( $(this).val() );
    		mainPlayerNo.push ( $(this).val() );
    	});
    	console.log("H팀 메인");
    	console.log(homeTeamMainNo);
    	
    // Am
    	var awayTeamMainNo = [];
    	$('#aMainPlayer > option').each(function(){
    		awayTeamMainNo.push ( $(this).val() );
    		mainPlayerNo.push ( $(this).val() );
    	});
    	console.log("A팀 메인");
    	console.log(awayTeamMainNo);
    	
    // Hk
	    var homeTeamKeeperNo = $('#hKeeper > option').val();
	    KeeperNo.push (homeTeamKeeperNo);
	    console.log("H팀 키퍼");
	    console.log(homeTeamKeeperNo);
	    
    // Ak
    	var awayTeamKeeperNo = $('#aKeeper > option').val();
    	KeeperNo.push (awayTeamKeeperNo);
	    console.log("A팀 키퍼");
	    console.log(awayTeamKeeperNo);
	    
    // Hs
    	var homeTeamSubNo = [];
	    $('#hSubPlayer > option').each(function(){
	    	homeTeamSubNo.push ( $(this).val() );
	    	subPlayerNo.push ( $(this).val() );
    	});
    	console.log("H팀 서브");
    	console.log(homeTeamSubNo);
    	
    // As
    	var awayTeamSubNo = [];
	    $('#aSubPlayer > option').each(function(){
	    	awayTeamSubNo.push ( $(this).val() );
	    	subPlayerNo.push ( $(this).val() );
    	});
    	console.log("A팀 서브");
    	console.log(awayTeamSubNo);
    	
    	console.log("넘길 값");
    	console.log(mainPlayerNo);
    	console.log(KeeperNo);
    	console.log(subPlayerNo);
    	console.log($("#matchList").val());
    //받은 PlayerNo를 넘겨 insert한다
    
    	$.ajax({
            url:"/addMatchPlayerKeeper",
            method:"POST",
    		dataType : 'json',
            data:{	"mainPlayerNo":mainPlayerNo,
            		"KeeperNo":KeeperNo,
            		"subPlayerNo":subPlayerNo,
            		"matchNo":$("#matchList").val()},
            success:function(json){
               console.log(json);
            }
         });
    
      });
  
    </script>
</body>
</html>
