<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Title -->
    <title> PremierLeagueDataAnalysis - User index &amp; Template</title>
    <th:block th:include = "/member/template/layout/headLayout"></th:block>
</head>
<body>
    <!-- ##### TopBar Area Start ##### -->
   	<th:block th:include = "/member/template/layout/topBar"></th:block>
    <!-- ##### TopBar Area End ##### -->
    <br><br><br><br><br><br>
	<div class = "container">
		<!-- content -->
		<p id = "boardTitle" style = "font-weight: bold; color: black;"></p>
		<hr>
		<div style = "display: inline;" id = "boardInfo"></div>
		<hr><br>
		<div id = "boardContent"></div>
		
		<hr>
		<p>댓글</p>
  		<div id="summernote"><p></p></div>
	</div>
    <!-- ##### Footer Area Start ##### -->
	<th:block th:include = "/member/template/layout/footer"></th:block>
    <!-- ##### Footer Area End ##### -->

</body>

	<script>
	$.ajax({	
		url:"/getMemberBoardListOne",
		method:"post",
		success:function(json){
			$("#listOne").empty();
			$(json).each(function(index, item){
			console.log("ListOne");
			console.log(json);
				$("#boardTitle").append("("+item.boardNo+") " + item.boardTitle);
				$("#boardInfo").append(item.boardUser + " │ " + item.boardDate);
				$("#boardContent").append(item.boardContent);
			});		
		}
	});
	
	// 새로운 JQuery버전 사용
	var newJquery = $.noConflict(true);
	$(document).ready(function() {
		$('#summernote').summernote({ 
			lang: 'ko-KR',
			placeholder: '내용을 입력해주세요',
			tabsize: 4,
			height: 150
		});
	});
	</script>
</html>


