<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>	
	
    <!-- Title -->
    <title> PremierLeagueDataAnalysis - User index &amp; Template</title>
    <th:block th:include = "/member/template/layout/headLayout"></th:block>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	  
	<link href="/summernote/summernote-bs4.css" rel="stylesheet">
	<script src="/summernote/summernote-bs4.js"></script>
	
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	
</head>


<body>
    <!-- ##### TopBar Area Start ##### -->
   	<th:block th:include = "/member/template/layout/topBar"></th:block>
    <!-- ##### TopBar Area End ##### -->
	<body class="bg-danger text-white">	
	<div class="bg-danger text-white">
		<div class="container">
			<div id="teamOne" class="row">
			
			</div>
		</div>
	</div>
	<div class="bg-light text-dark">.</div>
	<br>
	<div class="container">
		<div class="bg-light text-dark">
			<table class="table table-hover" >
				<thead>
					<tr>
						<th>No</th>
						<th>PlayerName</th>
						<th>Country</th>
						<th>BirthDate</th>
						<th>Height</th>
						<th>Weight</th>
						<th>PlayerPosition</th>
					</tr>
				</thead>
				<tbody id = "playerList">
				
				</tbody>
			</table>
		</div>
	</div>
    <section class="newspaper-team mb-30">
		<br><br><br><br>
		<div class = "container">
			
				<table id = "teamList">
					
				</table>
			
		</div>
	</section>
    <!-- ##### Footer Area Start ##### -->
    <th:block th:include = "/member/template/layout/footer"></th:block>
    <!-- ##### Footer Area End ##### -->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function(){
	$.ajax({	
		url:"/getMemberTeamOne",
		method:"POST",
		success:function(json){
			$("#teamOne").empty();
			$(json).each(function(index, item){
			console.log("getMemberTeamOne 요청 성공");
			console.log("team :"+json);
				temp = "<div class='col-sm-3'><br><img src='/images/teamlogo/"+item.teamName+".png'></div>";
				temp += "<div class='col-sm-5'><br>";
				temp += "<div><h1>"+item.teamName+"</h1></div>";
				temp += "<div><h3>"+item.nickName+"</h2></div>";
				temp += "<div><h5>"+"Foundation : "+item.foundation+"</h5></div>";
				temp += "<div><h5>"+"Stadium : "+item.stadiumName+"</h5></div>";
				temp += "<div><h5>"+"HomePlace : "+item.homePlace+"</h5></div>";
				temp += "<div><h5>"+"Rival : "+item.rival+"</h5></div>";
				temp += "<div><h5>"+"Owner : "+item.owner+"</h5></div>";
				temp += "</div>";
				temp += "<div class='col-sm-4'><img src='/images/stadium.png'></div>"
				$("#teamOne").append(temp); 
			});		
		}
	});
});

$(document).ready(function(){
	$.ajax({
		url:"getMemberPlayersList",
		method:"POST",
		success:function(json){
			$("#playerList").empty();
			$(json).each(function(index, item){
				console.log("getMemberPlayerList 요청 성공");
				temp = "<tr><td>"+item.playerNo+"</td>";
				temp += "<td>"+item.playerName+"</td>";
				temp +=	"<td>"+item.country+"</td>";
				temp +=	"<td>"+item.birthDate+"</td>";
				temp += "<td>"+item.height+"</td>";
				temp += "<td>"+item.weight+"</td>";
				temp += "<td>"+item.playerPosition+"</td></tr>";
				$("#playerList").append(temp);
			})
		}
	});
});

</script>
</body>
</html>