<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>	
<style type="text/css">
.bg-color{
background-color: #ff0000;
}
</style>	
    <!-- Title -->
    <title> PremierLeagueDataAnalysis - User index &amp; Template</title>
    <th:block th:include = "/member/template/layout/headLayout"></th:block>

</head>


<body>
    <!-- ##### TopBar Area Start ##### -->
   	<th:block th:include = "/member/template/layout/topBar"></th:block>
    <!-- ##### TopBar Area End ##### -->
  
	<div class="bg-color">
		<div class="container">
				<div class="row">
						<div class="col-sm-7">
						<br><br><br><br>
							<h1 class="text-white">Clubs</h1>
							<div>
							<div id="bootstrap-data-table_filter" class="dataTables_filter">
								<label>
									<input type="search" class="form-control form-control-sm"  id ="searchWord"
										placeholder="search" aria-controls="bootstrap-data-table">
								</label>
									<button class="btn btn-sm btn-primary box" type="submit" id="search">검색</button>
							</div>
						</div>
						</div>
						<div class="col-sm-5">
							<img alt="boaradimg" src="images/clubimg.png" width="500px" height="auto"> 
						</div>
				</div>
		</div>
	</div>
    <section class="newspaper-team mb-30">
		<br><br><br><br>
		<div class = "container">
			
				<table id = "teamList">
					
				</table>
			
		</div>
	</section>
    <!-- ##### Footer Area Start ##### -->
    <th:block th:include = "/member/template/layout/footer"></th:block>
    <!-- ##### Footer Area End ##### -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function(){
	$.ajax({	
		url:"/getMemberTeamList",
		method:"POST",
		success:function(json){
			$("#teamList").empty();
			$(json).each(function(index, item){
				console.log(json);
				temp = "<td><a href = '/getMemberTeamOne?teamName="+item.teamName+"'>";
				temp += "<div align='center'><img src='/images/teamlogo/";
				temp += item.teamName;
				temp += ".png'></div></a>";
				temp += "<h6 align='center'>"+item.teamName+"</h6>";
				temp += "<h6 align='center'>"+item.stadiumName+"</h6></td>";
				
				$("#teamList").append(temp);
				if((index+1) % 5==0 && index > 0){
					$("#teamList").append("</tr><tr>");
				}
			});
		}
	});
});

$("#search").click(function(){
	searchWord = $("#searchWord").val();
	$.ajax({
		url : "/getMemberTeamSearch",
		method :"post",
		async : false,
		data : {"searchWord" : searchWord},
		success : function(json){
			console.log(json);
			$(json).each(function(index, item) {
				temp = "<tr>";
				temp += "<td>" + item.teamName + "</td>";
				temp += "<td>" + item.stadiumName + "</td>";
				temp += "</tr>";
				$("#list").append(temp);
				
			});
		}
	});
});

</script>
</body>
</html>