<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Title -->
<title> PremierLeagueDataAnalysis - User index &amp; Template</title>
<th:block th:include = "/member/template/layout/headLayout"></th:block>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
.topD {
	margin: 0;
	text-align: left;
	font-family: Consolas, monospace;
	font-style: italic;
	width: 80%;
	height: 110px;
	background: linear-gradient(to bottom, #6666ff 0%, #6600ff 100%);
	border: 2px solid;
	padding: 0;
	line-height: 1em;
	border-top-left-radius: 0.7em;
	border-top-right-radius: 0.7em;
	
}

.tt {
	text-align: center;
}

h5 {
	font-weight: 1000;
}
.matchDateTable2{
	border-spacing: 12px;
	border-collapse: separate;
	border-right: 1px solid  #444444;
	width: 95%;
}
.matchDateTable{
	border-spacing: 10px;
}
.matchDateTable3{
	width: 
}
.match{
	border: 2px solid;
	width: 80%;
	font-style: italic;
	border-collapse:seperate;
	table-layout:fixed;
}
.match1{
	border: 2px solid;
	line-height: 1em;
	border-collapse: separate;
	table-layout:fixed;
}
.match2{
	border: 2px solid;
	line-height: 1em;
	border-collapse: separate;
	table-layout:fixed;
}
.bg_color{
	background-color: #ff0000;
}
</style>
<body>
    <!-- ##### TopBar Area Start ##### -->
   	<th:block th:include = "/member/template/layout/topBar"></th:block>
    <!-- ##### TopBar Area End ##### -->

    <!-- ##### Hero Area End ##### -->

    <!-- ##### Featured Post Area Start ##### -->
    <div class="bg_color">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<br><br><br>
						<h1 class="text-white">경기일정</h1>
					<br>
				</div>
				<div class="col-sm-4">
					<img alt="boaradimg" src="images/matchimg.png" width=500px height=300px> 
				</div>
			</div>
		</div>
	</div>
	<div class="popular-news-area section-padding-80-50 container-fluid">
		<div class = "container">
			<div class = "container">
			<div class ="topD">
				<!-- epl로고사진 -->
				<div><img width="40" height="auto" src="/images/teamlogo/Liverpool Football Club.png"></div>
				<div class ="tt">
					<h5 style ="color: #ffffff; text-shadow: 8px 2px 4px black;">England PremierLegue Match Calendar</h5>
				
					<p id="matchDay">한국 표준시 기준</p>
				</div>
			</div>
		<!-- 1라운드씩 나와야됨 -->
			<table class = "match">
				<tbody class = "matchTable">
					<tr>
						<!-- 경기 -->
						<td>
							<table class="match1 container">
								<tbody>
									<tr>
										<td>
											<table class = "matchDateTable">
												<tr  class = "hometeam">
													<td>셰펄드 유나이티드</td>
												</tr>
												<tr  class = "awayteam">
													<td>awayteam</td>
												</tr>
											</table>
										</td>
										<td>
											<table class = "matchDateTable2">
												<tr class = "hometeam">
													<td>0</td>
												</tr>
												<tr class = "awayteam">
													<td>0</td>
												</tr>
											</table>
										</td>
										
										<td>
											<table class = "matchDateTable3">
												<tr class = "matchDate">
													<td>MatchDate</td>
												</tr>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						
						<!-- 경기 -->
						<td>
							<table class="match2 container">
								<tbody>
									<tr>
										<td>
											<table class = "matchDateTable">
												<tr  class = "hometeam">
													<td>hometeam</td>
												</tr>
												<tr  class = "awayteam">
													<td>awayteam</td>
												</tr>
											</table>
										</td>
										<td>
											<table class = "matchDateTable2">
												<tr class = "hometeam">
													<td>0</td>
												</tr>
												<tr class = "awayteam">
													<td>0</td>
												</tr>
											</table>
										</td>
										
										<td>
											<table class = "matchDateTable3">
												<tr class = "matchDate">
													<td>MatchDate</td>
												</tr>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<!-- 경기 -->
						<td>
							<table class="match1 container">
								<tbody>
									<tr>
										<td>
											<table class = "matchDateTable">
												<tr  class = "hometeam">
													<td>셰펄드 유나이티드</td>
												</tr>
												<tr  class = "awayteam">
													<td>awayteam</td>
												</tr>
											</table>
										</td>
										<td>
											<table class = "matchDateTable2">
												<tr class = "hometeam">
													<td>0</td>
												</tr>
												<tr class = "awayteam">
													<td>0</td>
												</tr>
											</table>
										</td>
										
										<td>
											<table class = "matchDateTable3">
												<tr class = "matchDate">
													<td>MatchDate</td>
												</tr>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						
						<!-- 경기 -->
						<td>
							<table class="match2 container">
								<tbody>
									<tr>
										<td>
											<table class = "matchDateTable">
												<tr  class = "hometeam">
													<td>hometeam</td>
												</tr>
												<tr  class = "awayteam">
													<td>awayteam</td>
												</tr>
											</table>
										</td>
										<td>
											<table class = "matchDateTable2">
												<tr class = "hometeam">
													<td>0</td>
												</tr>
												<tr class = "awayteam">
													<td>0</td>
												</tr>
											</table>
										</td>
										
										<td>
											<table class = "matchDateTable3">
												<tr class = "matchDate">
													<td>MatchDate</td>
												</tr>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<!-- ##### Featured Post Area End ##### -->
	
    <!-- ##### Footer Area Start ##### -->
    <th:block th:include = "/member/template/layout/footer"></th:block>
    <!-- ##### Footer Area End ##### -->
</body>
<script type="text/javascript">
	
	$.ajax({
		url : "",
		method : "post",
		success : function(json){
			$(json).each(function(index , item)){ // 하나의 테이블 행을 추가 (이전경기 보기)
					// 왼쪽 경기
				/* let html = '<tr><td><table class="match1 container">'
					html += '<tobody><tr><td>'
					html +=	'<table class="matchDateTable"><tr  class = "hometeam">'
					html += '<td>'index.hometeamName'</td>'
					html += '<td>'index.awayteamName'</td>'
					html += '</tr></table></td><td>'
					html +=	'<table class="matchDateTable2"><tr  class = "hometeam">'
					html += '<td>'index.hometeamGoals'</td>'
					html += '<td>'index.awayteamGoals'</td>'
					html += '</tr></table></td><td>'
					html += '<table class = "matchDateTable3">'
					html += '<tr class = "matchDate">'
					html += '<td>'index.winnerteamName'</td>'
					html += '</tr></table></td>'
					html += '</tr></tbody></table></td></tr>'
					// 오른쪽 경기
					html += '<tr><td><table class="match2 container">'
					html += '<tobody><tr><td>'
					html +=	'<table class="matchDateTable"><tr  class = "hometeam">'
					html += '<td>'index.hometeam'</td>'
					html += '<td>'index.awayteam'</td>'
					html += '</tr></table></td><td>'
					html +=	'<table class="matchDateTable2"><tr  class = "hometeam">'
					html += '<td>'index.hometeamGoals'</td>'
					html += '<td>'index.awayteamGoals'</td>'
					html += '</tr></table></td><td>'
					html += '<table class = "matchDateTable3">'
					html += '<tr class = "matchDate">'
					html += '<td>'index.winnerteamName'</td>'
					html += '</tr></table></td>'
					html += '</tr></tbody></table></td></tr>'
					
					$("#matchTable").append(html); */
					
					/*
					SELECT 	
	A.match_no AS matchNo,
	A.hometeam_name AS hometeamName, 
	A.awayteam_name  AS awayteamName, 
	A.active AS Active,
	A.match_date AS matchDate, 
	A.match_time AS matchTime,  
	R.winnerteam_name AS winnerteamName, 
	R.hometeam_goals AS hometeamGoals, 
	R.awayteam_goals AS awayteam_Goals
FROM
(SELECT
	match_no,
	hometeam_name,
	awayteam_name,
	match_date,
	match_time,
	active
FROM match_schedule
ORDER BY match_date DESC) AS A
INNER JOIN
(SELECT
	match_no,
	hometeam_name,
	awayteam_name,
	winnerteam_name,
	hometeam_goals,
	awayteam_goals
FROM match_result) AS R
ON A.match_no = R.match_no AND A.hometeam_name = R.hometeam_name AND A.awayteam_name = R.awayteam_name
WHERE A.active = 'T'

					*/
			}
		}
	})
</script>
</html>