<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
	
    <!-- Title -->
    <title> PremierLeagueDataAnalysis - User index &amp; Template</title>
    <th:block th:include = "/member/template/layout/headLayout"></th:block>
</head>

<body>
    <!-- ##### TopBar Area Start ##### -->
   	<th:block th:include = "/member/template/layout/topBar"></th:block>
    <!-- ##### TopBar Area End ##### -->

    <div>TEST</div>

    <!-- ##### Footer Area Start ##### -->
    <div th:include ="/member/template/layout/footer::footer"></div>
    <!-- ##### Footer Area End ##### -->
</body>

</html>